@import './variables.scss';

.element-404{
    background-color: rgba($color-w, 0.9);
    max-width: 731px;
    margin: auto;
    text-align: center;
    padding: 3rem 0;
    border-bottom-right-radius: 20px !important;
    &__opts{
        margin-top: 2.5rem;
        a{
            color: $color-b;
            display: inline-block;
            margin: 0 2rem;
            position: relative;
            padding-right: 1rem;
            &:after {
                content: ">";
                color: $color-1;
                font-size: 2rem;
                position: absolute;
                right: 0;
                top: 55%;
                transform: translateY(-50%);
            }
        }
    }
}