@import './variables.scss';

.butn{
    text-decoration: none;
    font-weight: 400;
    color: $color-b;
    font-size: 1rem;
    line-height: 1.5rem;
    border: 0;
    display: inline-block;
    &:hover{
        color: $color-b;
        text-decoration: none;
    }
    &-1{
        background-color: $color-1;
        padding: .67rem 2rem;
        border-radius: .25rem!important;
        &:hover{
            background-color: $color-8;
        }
    }
    &-2{
        background-color: $color-2;
        padding: .67rem 2rem;
        color: $color-w;
        border-radius: .25rem!important;
        &:hover{
            background-color: $color-7;
            color: $color-w;
        }
    }
    &-3{
        background-color: $color-9;
        color: $color-w;
        padding: .67rem 2rem;
        border-radius: .25rem!important;
        &:hover{
            background-color: $color-9;
            color: $color-w;
        }
    }
    &-4{
        background-color: $color-2;
        color: $color-w;
        padding: .67rem 2rem;
        border-radius: .25rem!important;
        &:hover{
            background-color: $color-1;
            color: $color-b;
        }
    }
    &-5{
        background-color: $color-w;
        color: $color-3;
        border: 1px solid $color-3;
        padding: .67rem 2rem;
        border-radius: .25rem!important;
        &:hover{
            background-color: $color-w;
            color: $color-3;
            border: 1px solid $color-3;
        }
    }
    &-ico{
        border: 1px solid $color-4;
        display: flex;
        justify-content: center;
        width: 4.065rem;
        height: 3.375rem;
        margin: 0 auto 2rem;
        background-color: $color-w;
        cursor: pointer;
        img{
            width: 1.625rem;
        }
        &.active{
            box-shadow: 0px 4px 4px rgba($color-b, 0.12)
        }
    }
    &-pagination{
        padding: .57rem .2rem;
        text-align: center;
        width: 44px;
        border-radius: .25rem!important;
        background-color: $color-w;
        border: 1px solid $color-4;
        display: inline-block;
        &:hover{
            border: 1px solid $color-1;
        }
        &.active{
            background-color: $color-1;
            border: 1px solid $color-1;
        }
    }
}