
/*Colores corporativos*/
$color-w : #fff;
$color-b : #000;

$color-1 : #FDA100;
$color-2 : #22202D;
$color-3 : #767676;
$color-4 : #E5E5E5;
$color-5 : #263B80;
$color-6 : #272525;
$color-7 : #4C4B51;
$color-8 : #FFBA41;
$color-9 : #616D70;
$color-10 : #C4C4C4;
$color-11 :#F9F9F9;
$color-12: #45444B;


$color-13: #D1D1FF;
$color-14: #1BD741;

$color-whatsapp: #00CE15;
$color-chat: #263B80;


//;Fin
//Fuentes
$font-1 : "Poppins";
// $font-2 : "Nunito";

