@import 'variables';
.contacto-formulario{
    position: relative;
    &__bg{
        position: absolute;
        width: 100%;
        height: 70%;
        background-size: cover;
        top: 0;
        z-index: 10;
    }
    .container{
        position: relative;
        z-index: 30;
    }
    &__content{
        padding: 3.6rem 4.8rem 1.8rem;
        border: 1px solid $color-4;
        box-shadow: 0px 4px 8px rgba($color-b, 0.12);
    }
}