@import './variables';

.banner-departamentos{
    min-height: 264px;
    min-height: 304px;
    .banner{
        &__img{
            min-height: 264px;
            @media (max-width: 992px) {
                min-height: 304px;
            }
        }
        &__title{
            display: inline-block;
            background: rgba($color-w, 0.9);
            backdrop-filter: blur(20px);
            font-size: 2.25rem;
            font-weight: bold;
            max-width: 90%;
            padding: 1.25rem 2.625rem;
            border-radius: 0px 0px 20px 0px!important;
            &-wrapper{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                z-index: 99;
                text-align: center;
            }
        }
    }
}

.home-proyectos-departamentos{
    .proyectos{
        &__no-slick{
            margin-top: -4rem;
        }
        &__slick{
            &-el{
                margin-top: 4rem;
                @media (max-width: 992px){
                    margin-top: 2rem;
                }
            }
        }
        &__filters{
            top: -4rem;
            margin-bottom: -4rem;
            transform: translateY(-50%);
            position: relative;
            max-width: 920px;
            display: block;
            margin: auto;
            z-index: 99;
            @media (max-width: 992px){
                top: -2rem;
                margin-bottom: -2rem;
            }
            &-el{
                display: flex;
                background-color: $color-w;
                box-shadow: 0px 2px 8px rgba($color-b, 0.15);
                flex-wrap: wrap;
                @media (max-width: 992px){
                    border-radius: 0px 20px!important;
                }
                &-btn{
                    flex-grow: 1;
                    flex-basis: 0;
                    text-align: center;
                    position: relative;
                    cursor: pointer;
                    padding: .75rem .5rem;
                    @media (max-width: 992px){
                        flex: 0 0 50%;
                        max-width: 50%;
                        &:last-child{
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                    }
                    &:hover, &.active{
                        &:after{
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            border-bottom: 4px solid $color-1;
                        }
                    }
                }
                &-select{
                    @media (max-width: 992px){
                        margin-top: 2rem;
                    }
                }
            }
        }
    }
}