@import 'variables';

.banner-departamentos-interna{
    .banner{
        &__img{
            max-height: 497px;
        }
        &__card{
            max-width: 401px;
            background-color: rgba($color-w, .9);
            color: $color-b;
            &-wrapper{
                padding-top: 4rem;
                padding-bottom: 6rem;
            }
            &-supratitle{
                color: $color-3;
                font-size: 1.25rem;
            }
            &-title{
                padding-bottom: 1.25rem;
            }
            &-br{
                width: 90%;
            }
            &-bottom{
                &-metraje{
                    width: 100%;
                    &:after{
                        content: none;
                    }
                    img, span{
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

.departamento-interna-dsc{
    position: relative;
    margin-top: -4rem;
    transform: translateY(-50%);
    z-index: 99; 
    @media (max-width: 992px){
        transform: translateY(0);
        margin-top: -8rem;
    }
    &-el{
        display: flex;
        width: 100%;
        background-color: $color-w;
        box-shadow: 0px 2px 8px rgba($color-b, 0.15);
        padding: 2rem 0;
        border-radius: 0px 20px!important;
        @media (max-width: 992px){
            flex-direction: column;
        }
        &-op{
            flex-grow: 1;
            flex-basis: 0;
            text-align: center;
            position: relative;
            @media (max-width: 992px){
                text-align: left;
                padding: 1.5rem 1.5rem;
            }
            +.departamento-interna-dsc-el-op{
                &:before{
                    content: "";
                    position: absolute;
                    left: 0;
                    height: 100%;
                    border-left: 3px solid $color-1;
                    @media (max-width: 992px){
                        border-left: none;
                        border-bottom: 4px solid $color-1;
                        width: 42px;
                        top: 0;
                        height: 0;
                        left: 24px;
                    }
                }
            }
            &-inner{
                display: inline-block;
            }
            img{
                display:inline-block;
                vertical-align: middle;
                @media (max-width: 992px){
                    width: 31px;
                    margin-left: 6px;
                }
            }
            &-dsc{
                display:inline-block;
                vertical-align: middle;
                text-align: left;
                padding-left: .5rem;
            }
            &-title{
                font-size: 1.25rem;
                font-weight: 700;
                line-height: 1.25rem;
            }
            &-supratitle{
                line-height: 1.5rem;
            }
        }
    }
}

.departamento-cacteristicas{
    &-el{
        position: relative;
        padding-left: 10px;
        min-height: 100px;
        &:before{
            content: "";
            height: 48px;
            position: absolute;
            left: 0;
            border-left: 4px solid $color-1;
            top: 50%;
            transform: translateY(-50%);
            vertical-align: inline-block;
        }
        img{
            display: inline-block;
            vertical-align: middle;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            left: 10px;
        }
        &-title{
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            max-width: calc(100% - 64px);
            position: absolute;
            left: 58px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.departamentos-interna-galeria{
    padding-top: 0;   
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    .departamento-cacteristicas{
        &-el{
            background-color: $color-w;
           cursor: pointer;
           border: 1px solid $color-4;
           min-height: 76px;
           margin-bottom: 1rem;
           &:before{
                border-left: 4px solid $color-4;
                height: 100%;
           }
           &:hover{
               border-color: $color-3;
               &:before{
                   border-color: $color-3;
               }
           }
           &.active{
            border-color: $color-1;
            &:before{
                border-color: $color-1;
            }
        }
        }
    }
}

.departamentos-interna-planos{
    &__select{
        margin-bottom: 1rem;
    }
}

.departamentos-interna-slider__slick{
    .proyectos__slick-el{
        background-color: $color-11;
        margin: 0 10px;
        border-radius: 0px 20px!important;
        border: 1px solid $color-4 ;
        &:hover{
            background-color: $color-w;
            border: 1px solid $color-1;
        }
        &-subtitle{
            text-align: center;
            font-size: 1rem;
            padding: .5rem;
        }
        &-item{
            &--link{
                color: $color-3;
                img{
                    &:first-child{
                        display: inline-block;
                    }
                    &:nth-child(2){
                        display: none;
                    }
                }
                &:hover{
                    text-decoration: none;
                    color: $color-1;
                    img{
                        &:first-child{
                            display: none;
                        }
                        &:nth-child(2){
                            display: inline-block;
                        }
                    }
                }
            }
            &-wrapper{
                border-top: 1px solid #C4C4C4;
            }
        }
        &-price{
            font-size: 1.25rem;
            text-align: center;
            padding: 12px 0 12px;
        }
        &-img{
            &-wrapper{
                border: none;
            }
        }
    }
    .slick-dots{
        list-style: none;
        margin-top: 16px;
        li{
            display: inline-block;
            margin: 0 4px;
            button{
                font-size: 0;
                width: 8px;
                height: 8px;
                padding: 0;
                display: inline-block;
                border: 0;
                border-radius: 50%!important;
                outline: none;
            }
            &.slick-active{
                button{
                    background-color: $color-1;
                }
            }
        }
    }
}