@keyframes enter {
    from {
      transform: translate(100%);
      opacity: 0;
    }
    
    75%{
      opacity: 1;
    }
  
    to {
      transform: translate(0);
      opacity: 1;
   }
  }
  
  @keyframes leavermove {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    
    75%{
      opacity: 1;
    }
  
    to {
      transform: translateY(4px);
      opacity: 0;
   }
  }
  
  @keyframes leave {
    from {
      transform: translate(0);
      opacity: 1;
    }
    
    to {
      transform: translate(100%);
      opacity: 0;
   }
  }
  
  
  
  @keyframes enter-2 {
    from {
      transform: translate(-200%);
      opacity: 0;
    }
  
    to {
      transform: translate(0);
      opacity: 1;
   }
  }
  
  @keyframes leave-2 {
    from {
      transform: translate(0);
      opacity: 1;
    }
      
    75%{
      opacity: 0;
    }
    
    to {
      transform: translate(-200%);
      opacity: 0;
   }
  }


.animated{
    @media (min-width: 992px){
		animation-duration: 1s;
		animation-fill-mode: both;
    }
}
	
.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge{
	animation-duration: 2s;
	&-2{
        animation-duration: 2s;
    }
	&-3{
		animation-duration: 3s;
    }
	&-4{
        animation-duration: 4s;
    }
}

.animated.delay{
	animation-delay: 1s;
	&-2{
        animation-delay: 2s;
    }
	&-3{
        animation-delay: 3s;
    }
	&-4{
        animation-delay: 4s;
    }
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

.u-animated-hidden,
.c-animated{
	@media (min-width: 992px){
        opacity: 0;
    }
}

.u-animated-visible{
	@media (min-width: 992px){
        opacity: 1;
    }
}
