@font-face {
    font-family: "Poppins";
	font-weight: 100;
	font-style: normal;
	src: url("../fonts/poppins-thin-webfont.woff") format("woff"),
		 url("../fonts/poppins-thin-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
	font-weight: 200;
	font-style: normal;
	src: url("../fonts/poppins-extralight-webfont.woff") format("woff"),
		 url("../fonts/poppins-extralight-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
	font-weight: 300;
	font-style: normal;
	src: url("../fonts/poppins-light-webfont.woff") format("woff"),
		 url("../fonts/poppins-light-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/poppins-regular-webfont.woff") format("woff"),
		 url("../fonts/poppins-regular-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
	font-weight: 500;
	font-style: normal;
	src: url("../fonts/poppins-medium-webfont.woff") format("woff"),
		 url("../fonts/poppins-medium-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
	font-weight: 600;
	font-style: normal;
	src: url("../fonts/poppins-semibold-webfont.woff") format("woff"),
		 url("../fonts/poppins-semibold-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
	font-weight: 700;
	font-style: normal;
	src: url("../fonts/poppins-bold-webfont.woff") format("woff"),
		 url("../fonts/poppins-bold-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
	font-weight: 800;
	font-style: normal;
	src: url("../fonts/poppins-extrabold-webfont.woff") format("woff"),
		 url("../fonts/poppins-extrabold-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
	font-weight: 900;
	font-style: normal;
	src: url("../fonts/poppins-black-webfont.woff") format("woff"),
		 url("../fonts/poppins-black-webfont.woff2") format("woff2");
}