@import './variables';

* {
    border-radius: 0 !important;
  }
  
html{
    font-size: 16px;
    font-family: $font-1;
    color: $color-b;
    @media (max-width: 992px){
        font-size: 14px;
    }
}
body{
    padding-top: 76px;
    font-size: 1rem;
    font-family: $font-1;
    overflow-x: hidden;
    // background-color: $color-12;
    // background: linear-gradient(90deg, #FFFFFF 0%, #ECECEC 72.92%);
    color: $color-b;
}

.modal-backdrop{
    background: rgba(34, 32, 45, 0.9);
    &.show{
        opacity: 1;
    }
}

// footer{
//     font-weight: 300;
// }
.section{
    padding: 4rem 0;
}
.section-t{
    padding-top: 4rem;
}
.section-b{
    padding-bottom: 4rem;
}
// .container{
//     width: 1110px;
// }

@media (min-width: 992px){
    .container--small {
        max-width: 951px;
    }
    .container--extra-small {
        max-width: 761px;
    }
    .container--extra-small-2 {
        max-width: 640px;
    }
}

.post-content{
    p{
        margin-bottom: 3rem;
        line-height: 2.125rem;
    }
}

.background-bottom{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.big-text{
    font-size: 10rem;
    font-weight: 700;
    @media (max-width: 992px){
        font-size: 4rem;
    }
}

.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: $font-1;
}

.h1{
    font-size: 4rem;
    font-weight: 700;
    @media (max-width: 992px){
        font-size: 2rem;
    }
}
.h2{
    font-size: 2.25rem;
    font-weight: 700;
}
.h3{
    font-size: 1.75rem;
    font-weight: 700;
}
.ln-h3{
    line-height: 2.625rem;
}
.ln-h4{
    line-height: 2rem;
}
.h4{
    font-size: 1.25rem;
    font-weight: 700;
}

// .h3{
//     line-height: 2rem;
// }

// .h1{
//     line-height: 3rem;
// }

.border-radius{
    &-1{
        border-radius: 0 20px!important;
    }
}

@media (min-width: 576px){
    .modal-dialog.modal-sm {
        max-width: 640px;
        margin: 1.75rem auto;
    }
}
.color-1{
    color:$color-1;
    &--important{
        color:$color-1!important;
    }
    @at-root {
        a#{&} {
            text-decoration: underline;
            &:hover{
                color: $color-1;
            }
        }
    }
}

.bg-color-1{
    background-color: $color-1 !important;
}
.border-color-1{
    border: 1px solid $color-1 !important;
}
.color-2{
    color:$color-2;
    &--important{
        color:$color-2!important;
    }
}
.bg-color-2{
    background-color: $color-2;
}
.border-color-2{
    border: 1px solid $color-2 !important;
}
.color-3{
    color:$color-3;
    @at-root {
        a#{&} {
            text-decoration: underline;
            &:hover{
                color: $color-3;
            }
        }
    }
}
.bg-color-3{
    background-color: $color-3;
}
.color-4{
    color:$color-4;
}
.bg-color-4{
    background-color: $color-4;
}
.color-5{
    color:$color-5;
}
.bg-color-5{
    background-color: $color-5;
}
.color-6{
    color:$color-6;
}
.bg-color-6{
    background-color: $color-6;
}
.color-7{
    color:$color-7;
}
.bg-color-7{
    background-color: $color-7;
}
.color-8{
    color:$color-8;
}
.bg-color-8{
    background-color: $color-8;
}
.color-9{
    color:$color-9;
}
.bg-color-9{
    background-color: $color-9;
}
.color-10{
    color:$color-10;
}
.bg-color-10{
    background-color: $color-10;
}
.color-11{
    color:$color-11;
}
.bg-color-11{
    background-color: $color-11;
}
.color-12{
    color:$color-12;
}
.bg-color-12{
    background-color: $color-12;
}

.bg-color-w{
    background-color: #fff;
}
.color-w{
    color: #fff;
}
.bg-color-b{
    background-color: #000;
}
.color-b{
    color: #000;
}
.flex-basis-0{
    flex-basis: 0;
}
.px-10, .pl-10{
    padding-left: 6rem!important;
}
.px-10, .pr-10{
    padding-right: 6rem!important;
}
.py-10, .pt-10{
    padding-top: 6rem!important;
}
.py-10, .pb-10{
    padding-bottom: 6rem!important;
}

// .placeholder-white{
//     &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
//         color: #ffffff!important;
//         opacity: 1; /* Firefox */
//       }
      
//       &:-ms-input-placeholder { /* Internet Explorer 10-11 */
//         color: #ffffff!important;
//       }
      
//       &::-ms-input-placeholder { /* Microsoft Edge */
//         color: #ffffff!important;
//       }
// }

.z-index-1{
    z-index: 10;
}

.z-index-2{
    z-index: 20;
}

.supratitle{
    font-size: 1rem;
    color: $color-3;
    margin-bottom: .5rem;
    text-transform: uppercase;
}

.img-border-radius, .border-radius{
    border-radius: 0px 20px!important;
}

.grid-item { width: 33%; }
.grid-item--width2 { width: 50%; }


#toTop {
    padding: 5px 3px;
    background: $color-w;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 48px;
    height: 48px;
    border-radius: 50%!important;
    z-index: 9999;
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.valores-section{
    img{
        width: 99px;
        height: 88px;
        object-fit: contain;
    }
}