@import './variables';

.banner{
    position: relative;
    width: 100%;
    min-height: 480px;
    &__images{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
    &__img{
        object-fit: cover;
        min-height: 480px;
        height: 100%;
        width: 100%;
    }
    &__butn{
        // transform: rotate(-90deg);
        transform-origin: 100% 100%;
        margin: 0 10px;
        &-wrapper{
            position: fixed;
            height: 0;
            z-index: 90;
            top: 40%;
            right: 0;
            transform: translateY(-50%);
        }
        &-content{
            position: relative;
            right: 0;
            transform: rotate(-90deg) translateX(50%);
            transform-origin: 100% 100%;
            z-index: 30;
            display: flex;
            flex-direction: row;
        }
        &-opt{
            width: 40px;
            height: 40px;
            display: inline-block;
            border-radius: 50%!important;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 4px;
        }
        &-ws{
            background-color: $color-6;
            transform: rotate(90deg);
            &:hover{
                background-color: $color-whatsapp;
            }
        }
        &-chat{
            background-color: $color-6;
            transform: rotate(90deg);
            &:hover{
                background-color: $color-chat;
            }
        }
    }
    &__content {
        position: relative;
        z-index: 20;
        .container{
            position: relative;
        }
    }
    &__slick, .slick-list, .slick-track{
        height: 100%;
    }
    &__dots{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 60;
    }
    .slick-dots{
        margin-bottom: 0;
        list-style: none;
        padding: 0;
        li{
            display: inline-block;
            vertical-align: middle;
            margin: 4px;
            cursor: pointer;
            button{
                font-size: 0;
                border: none;
                width: 8px;
                height: 8px;
                padding: 0;
                border-radius: 50%!important;
                display: block;
                cursor: pointer;
                background-color: $color-10;
                outline: none;
            }
            &.slick-active{
                button{
                    background-color: $color-1;
                }
            }
        }
    }
}

.banner__card{
    color: $color-w;
    background-color: rgba($color-2,.8);
    backdrop-filter: blur(20px);
    border-radius: 0px 0px 60px 0px!important;
    width: 100%;
    max-width: 550px;
    padding: 32px;
    position: relative;
    display: none;
    margin: auto;
    @media (min-width: 992px){
        margin: initial;
    }
    &.active{
        display: block;
    }
    &-wrapper{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    &-2{
        position: absolute;
        top: 24px;
        right: 24px;
    }
    &-counter{
        font-size: 1.75rem;
        font-weight: 400;
        small{
            font-size: 1.25rem;
        }
    }
    &-supratitle{
        color: $color-1;
        font-size: 1.75rem;
    }
    &-title{
        font-size: 2.25rem;
        font-weight: 700;
        line-height: 2.625rem;
        padding-top: 1.25rem;
        padding-bottom: 3rem;
    }
    &-br{
        width: 80%;
        border-bottom: 1px solid $color-9;
    }
    &-bottom{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        &-metraje, &-habitaciones{
            width:40%;
            display: inline-block;
            vertical-align: middle;
            position: relative;
        }
        &-habitaciones{
            width:50%;
            padding-left: 5%;
        }
        &-metraje{
            &:after{
                content: "";
                height:40px;
                display: inline-block;
                border-right: 1px solid $color-9;
                position: absolute;
                top: -10px;
                right: 0;
            }
        }
        &-direccion{
            padding-top: 1rem;
        }
        &-metraje, &-habitaciones, &-direccion{
            img, span{
                display: inline-block;
                vertical-align: middle;
                line-height: 1rem;
            }
            img{
                margin-right: .36rem;
            }
        }
    }
}

.banner__list{
    position: absolute;
    top: 5rem;
    left: calc(-4px - 73px);
    &-opt{
        width: 73px;
        height: 73px;
        background-color: $color-2;
        backdrop-filter: blur(20px);
        border-radius: 0px 0px 20px 0px!important;
        margin-bottom: 16px;
        position: relative;
        transition: all 0.25s ease;
        cursor: pointer;
        &-dsc{
            font-size: 0.65rem;
            line-height: 0.75rem;
            display: inline-block;
            color: $color-1;
            position: absolute;
            top: 5px;
            left: 5px;
        }
        &-number{
            font-size: 1.75rem;
            line-height: 1.75rem;
            display: inline-block;
            color: $color-w;
            position: absolute;
            bottom: 0;
            right: 20px;
        }
        &.active{
            background-color: $color-w;
            .banner__list-opt{
                &-dsc, &-number{
                    color: $color-b;
                }
            }
        }
        &:hover{
            transform: translateY(-5px);
        }
    }
    ul{
        list-style: none;
        padding-left: 0;
    }
}

.home-proyectos{
    .container{
        position: relative;
        z-index: 20;
    }
}

.proyectos{
    &__slick{
        &-el{
            padding: 0 10px;
            text-align: left;
            &-img{
                width: 100%;
                &-wrapper{
                    position: relative;
                    border-radius: 0px 20px!important;
                    overflow: hidden;
                    border: 1px solid $color-w;
                    &:hover{
                        text-decoration: none;
                    }

                }
            }
            &-sticker{
                font-size: 1rem;
                color: $color-w;
                background-color: $color-5;
                top: 12px;
                left: 12px;
                padding: 4px 12px;
                display: inline-block;
                position: absolute;
                border-radius: 4px!important;
            }
            &-title{
                position: absolute;
                bottom: 0;
                width: 100%;
                font-size: 2.25rem;
                font-weight: 700;
                text-align: left;
                background-color: rgba($color-7, .4);
                // backdrop-f2ilter: blur(20px);
                border-radius: 0px 20px!important;
                margin: 0;
                padding: 20px;
                color: $color-w;
            }
            &-subtitle{
                font-weight: 700;
                font-size: 1.25rem;
                line-height: 2rem;
                padding-top: 6px;
                color: $color-b;
            }
            &-body{
                color: $color-3;
            }
            &-address{
                padding: 12px 0;
                border-bottom: 1px solid $color-10;
            }
            &-item{
                &-wrapper{
                    border-bottom: 1px solid $color-10;
                    padding: 12px 0;
                }
                img, span{
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            &-price{
                padding: 12px 0 28px;
                color: $color-b;
                &-number{
                    font-weight: 700;
                }
            }
            &:hover{
                .proyectos__slick-el{
                    &-title{
                        background-color: rgba($color-w, .9);
                        color: $color-6;
                    }
                    &-img-wrapper{
                        &-inner{
                            border-radius: 0 0 0 24px!important;
                            overflow: hidden;
                        }
                        img{
                            transform: scale(1.1);
                            transition: transform .5s;
                            // border-radius: 0 0 0 84px!important;
                        }
                    }
                }
            }
        }
        @media (max-width: 992px){
            .slick-list{padding:0 40% 0 0 !important;}
        }
        &-2{
            @media (max-width: 992px){
                .slick-list{padding:0 40% 0 0 !important;}
            }
        }
    }
}

.slick-prevArrow,
.slick-nextArrow{
    width: 48px;
    height: 48px;
    border-radius: 50%!important;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    // align-items: center;
    background: rgba($color-w, 0.7);
    font-size: 1.8rem;
    line-height: 52px;
    color: $color-3;
    position: absolute;
    z-index: 50;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &:hover{
        background: $color-w;
        color: $color-b;
    }
}
.slick-prevArrow{
    left: -14px;
}
.slick-nextArrow{
    right: -14px;
}

.home-proyectos-entregados{
    position: relative;
    overflow: hidden;
    .proyectos{
        &__slick{
            &-el{
                &-title{
                    font-size: 1.75rem;
                }
            &-item{
                &:first-child{
                    padding-bottom: 8px;
                    }
                }
            }
        }
    }
    &__img{
        position: absolute;
        bottom: 0;
        z-index: 10;
    }
    .container{
        position: relative;
        z-index: 20;
    }
}

.home-clientes{
    position: relative;
    &__img{
        position: absolute;
        bottom: 0;
        z-index: 10;
    }
    .container{
        position: relative;
        z-index: 20;
    }
    .proyectos{
        &__slick{
            &-el{
                &-play{
                    position: absolute;
                    cursor: pointer;
                    z-index: 80;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &-desc{
                    color: $color-b;
                }
                &-inner{
                    border-radius: 0px 20px!important;
                    margin-bottom: 12px;
                    padding-bottom: 48px;
                    border: 1px solid $color-4;
                    background-color: $color-w;
                    &:hover{
                        box-shadow: 0px 4px 8px rgba($color-b, 0.12);
                    }
                    // &--2{
                    //     padding-bottom: 0;
                    // }
                }
                &-comentario{
                    position: absolute;
                    bottom: 40px;
                    padding:0 16px;
                    @media (max-width: 992px){
                        position: relative;
                        padding-top: 16px;
                        bottom: initial;
                    }
                    &-wrapper{
                        height: 288px;
                        width: 100%;
                        position: relative;
                    }
                    &-img{
                        position: absolute;
                        right: 32px;
                        top: 24px;
                        @media (max-width: 992px){
                            display: none;
                        }
                    }
                }
                &-img{
                    height: 288px;
                    width: 100%;
                    object-fit: cover;
                    &-wrapper{
                        border-radius: 0 !important;
                        border-top-right-radius: 20px !important;
                    }
                }
                &-body{
                    padding: 0 1rem;
                    &-img{
                        margin-right: 6px;
                        float: left;
                    }
                }
            }
        }
    }
}

.home-noticias{
    padding-bottom: 110px;
    .proyectos{
        &__slick{
            &-el{
                &-subtitle{
                    display: block;
                    padding: 1rem 2rem;
                    font-size: 1.25rem;
                    &:hover{
                        color: $color-1;
                        text-decoration: none;
                    }
                }
                &-inner{
                    background-color: $color-w;
                    border-radius: 0px 20px!important;
                    // box-shadow: 0px 4px 8px rgba($color-b, 0.12);
                    margin-bottom: 12px;
                    padding-bottom: 8px;
                    // border: 1px solid $color-4;
                    &:hover{
                        box-shadow: 0px 4px 8px rgba($color-b, 0.12);
                    }
                }
            }
        }
    }
}



// Slick

.clientes__slick, .noticias__slick{
    @media (max-width: 992px){
        .slick-list{padding:0 40% 0 0 !important;}
    }
}
