@import './variables.scss';
.container--timeline{
    padding-left: 0;
    padding-right: 0;
}
.timeline-theme-1{
    width: 100%;
    .timeline-list, .timeline-item{
        width: 1140px;
        border: none;
    }
    .timeline-item{
        padding: 10px 25px;
    }
    .timeline-dots{
        // padding-top: 3rem;
        // display: flex;
        // transform: none!important;
        // margin-left: auto;
        &-wrap{
            overflow: initial;
        }
        li{
            float: none;
            width: 190px;
            text-align: right;
            font-family: $font-1!important;
            overflow: initial;
            display: inline-block;
            button{
                position: relative;
                font-weight: 700;
                font-size: 1.75rem;
                &:before{
                    content: "";
                    width: 16px;
                    height: 16px;
                    border: 1px solid $color-1;
                    display: inline-block;
                    border-radius: 50%!important;
                    position: absolute;
                    left: 50%;
                    bottom: 100%;
                    transform: translate(-50%, -50%);
                    background-color: $color-11;
                    z-index: 20;
                }
                &:after{
                    content: "";
                    border-top: 1px solid $color-1;
                    width: 190px;
                    left: 50%;
                    bottom: 100%;
                    transform: translate(0, -16px);
                    position: absolute;
                    z-index: 10;
                }
            }
            &.slide-active{
                button{
                    color: $color-b;
                    &:before{
                        background-color: $color-1;
                    }
                }
            }
            &:last-child{
                button{
                    &:after{
                        width: 0;
                    }
                }
            }
        }
    }
}