@import './variables';

@media (min-width: 576px) {
  // Position
    .position-sm-static {
      position: static !important;
    }
    .position-sm-relative {
      position: relative !important;
    }
    .position-sm-absolute {
      position: absolute !important;
    }
    .position-sm-fixed {
      position: fixed !important;
    }
    .position-sm-sticky {
      position: sticky !important;
    }
    // Overflow
    .overflow-sm-visible {
      overflow: visible !important;
    }
    .overflow-sm-hidden {
      overflow: hidden !important;
    }
    .overflow-sm-scroll {
      overflow: scroll !important;
    }
    .overflow-sm-auto {
      overflow: auto !important;
    }
  }
  
  @media (min-width: 768px) {
    // Position
    .position-md-static {
      position: static !important;
    }
    .position-md-relative {
      position: relative !important;
    }
    .position-md-absolute {
      position: absolute !important;
    }
    .position-md-fixed {
      position: fixed !important;
    }
    .position-md-sticky {
      position: sticky !important;
    }
    // Overflow
    .overflow-md-visible {
      overflow: visible !important;
    }
    .overflow-md-hidden {
      overflow: hidden !important;
    }
    .overflow-md-scroll {
      overflow: scroll !important;
    }
    .overflow-md-auto {
      overflow: auto !important;
    }
  }
  
  @media (min-width: 992px) {
    // Position
    .position-lg-static {
      position: static !important;
    }
    .position-lg-relative {
      position: relative !important;
    }
    .position-lg-absolute {
      position: absolute !important;
    }
    .position-lg-fixed {
      position: fixed !important;
    }
    .position-lg-sticky {
      position: sticky !important;
    }
    // Overflow
    .overflow-lg-visible {
      overflow: visible !important;
    }
    .overflow-lg-hidden {
      overflow: hidden !important;
    }
    .overflow-lg-scroll {
      overflow: scroll !important;
    }
    .overflow-lg-auto {
      overflow: auto !important;
    }
  }
  
  @media (min-width: 1200px) {
    // Position
    .position-xl-static {
      position: static !important;
    }
    .position-xl-relative {
      position: relative !important;
    }
    .position-xl-absolute {
      position: absolute !important;
    }
    .position-xl-fixed {
      position: fixed !important;
    }
    .position-xl-sticky {
      position: sticky !important;
    }
    // Overflow
    .overflow-xl-visible {
      overflow: visible !important;
    }
    .overflow-xl-hidden {
      overflow: hidden !important;
    }
    .overflow-xl-scroll {
      overflow: scroll !important;
    }
    .overflow-xl-auto {
      overflow: auto !important;
    }
  }
    