.dt-buttons{
  margin-bottom: 10px;
}
.--h2{
  color: #154B3A;
  font-weight: bold;
  font-size: 2rem;
}
button.dt-button{
  font-weight: 400;
  padding: 0.5em 2.5em 0.5em 2.5em;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: "Poppins";
  letter-spacing: .04em;
  margin: 0 1em;
  text-decoration: none;
  text-align: center;
  background-color: #2aaf85;
  text-transform: uppercase;
  color: #FFF;
  margin-left: 0px;
}
button.dt-button:focus:not(.disabled), div.dt-button:focus:not(.disabled), a.dt-button:focus:not(.disabled), input.dt-button:focus:not(.disabled),
button.dt-button:active:not(.disabled),
button.dt-button.active:not(.disabled),
div.dt-button:active:not(.disabled),
div.dt-button.active:not(.disabled),
a.dt-button:active:not(.disabled),
a.dt-button.active:not(.disabled),
input.dt-button:active:not(.disabled),
input.dt-button.active:not(.disabled),
button.dt-button:active:not(.disabled):hover:not(.disabled),
button.dt-button.active:not(.disabled):hover:not(.disabled),
div.dt-button:active:not(.disabled):hover:not(.disabled),
div.dt-button.active:not(.disabled):hover:not(.disabled),
a.dt-button:active:not(.disabled):hover:not(.disabled),
a.dt-button.active:not(.disabled):hover:not(.disabled),
input.dt-button:active:not(.disabled):hover:not(.disabled),
input.dt-button.active:not(.disabled):hover:not(.disabled),
button.dt-button:hover:not(.disabled),
div.dt-button:hover:not(.disabled),
a.dt-button:hover:not(.disabled),
input.dt-button:hover:not(.disabled){
  font-weight: 400;
  padding: 0.5em 2.5em 0.5em 2.5em;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: "Poppins";
  letter-spacing: .04em;
  margin: 0 1em;
  text-decoration: none;
  text-align: center;
  background: #2aaf85;
  background-color: #2aaf85;
  color: #FFF;
  margin-left: 0px;
  box-shadow: none;
}
