/*Colores corporativos*/
.element-404 {
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 731px;
  margin: auto;
  text-align: center;
  padding: 3rem 0;
  border-bottom-right-radius: 20px !important; }
  .element-404__opts {
    margin-top: 2.5rem; }
    .element-404__opts a {
      color: #000;
      display: inline-block;
      margin: 0 2rem;
      position: relative;
      padding-right: 1rem; }
      .element-404__opts a:after {
        content: ">";
        color: #FDA100;
        font-size: 2rem;
        position: absolute;
        right: 0;
        top: 55%;
        transform: translateY(-50%); }
