/*Colores corporativos*/
.tab {
  width: 100%;
  border: 1px solid #B0B1FF;
  border-radius: 10px !important;
  background: rgba(252, 252, 252, 0.52);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: 1.125rem; }
  .tab .tabs__opt-1 {
    display: inline; }
  .tab .tabs__opt-2 {
    display: none; }
  .tab.active .tabs__opt-1 {
    display: none; }
  .tab.active .tabs__opt-2 {
    display: inline; }

.tabs__top {
  position: relative;
  padding-bottom: 1rem; }
  .tabs__top:after {
    content: "";
    position: absolute;
    width: calc(100% - 10px);
    border-bottom: 1px solid #B0B1FF;
    left: 5px;
    bottom: 0; }
  .tabs__top-title {
    font-weight: 900;
    font-size: 1.5rem; }
  .tabs__top-desc {
    padding: .25rem 0; }
  .tabs__top-price-number {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: "Montserrat";
    position: relative; }
    .tabs__top-price-number small {
      font-size: 40%;
      font-weight: 800;
      position: absolute;
      top: 0; }
  .tabs__top-price-desc {
    display: inline-block;
    margin-left: 16px; }

.tabs__middle {
  position: relative;
  display: none;
  padding: 1rem 0; }
  .tabs__middle-list {
    display: block !important;
    list-style: none;
    padding-left: 2rem; }
    .tabs__middle-list li {
      padding: .8rem 0; }
      .tabs__middle-list li:before {
        content: "\2022";
        color: #5458EA;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em; }

.tabs__bottom {
  cursor: pointer;
  position: relative;
  padding-top: 1rem;
  font-weight: bold; }
  .tabs__bottom:before {
    content: "";
    position: absolute;
    width: calc(100% - 10px);
    border-top: 1px solid #B0B1FF;
    left: 5px;
    top: 0; }

.tabs-1 .tabs__middle {
  display: block; }
