@keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}

.blockUI.blockOverlay {
  position: relative
}
.blockUI.blockOverlay::before {
  height: 1em;
  width: 1em;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -.5em;
  margin-top: -.5em;
  content: "";
  -webkit-animation: spin 1s ease-in-out infinite;
  animation: spin 1s ease-in-out infinite;
  background: url(../img/loader.svg) center center;
  background-size: cover;
  line-height: 1;
  text-align: center;
  font-size: 2em;
  color: rgba(0, 0, 0, .75)
}

.form-select-arteco{
  width: 100%;
  margin: 0;
  padding: 0.75rem 1rem;
  background-color: #fff;
  border : 1px solid #E5E5E5;
  box-shadow: 0px 2px 8px rgb(0, 0, 0,  0.15);
  font-size: 1.125rem;
  height: 51px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: .3s ease-in-out;
}

.form-select-arteco:hover,
.form-select-arteco:focus-visible{
  border: 1px solid #FDA100;
  outline: none;
}
.ar-spinner{
  border-radius: 50%!important;
}
.form-text{
  font-size: .875em;
}

.ar-select-box .select-box__value{
  position: relative; 
}

.ar-select-box .select-box__value .select-box__input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: block;
  opacity: 0;
}
.select-box__option.disabled{
  pointer-events:none;
  background-color: #cdcbcb;
  opacity: .5;
  cursor: no-drop;
}

/* SELECT 2  */
.ar-select .select2{
  transition: .3s ease-in-out;
}

.ar-select .select2 .select2-selection{
  height: 51px;
  border-color: transparent;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  transition: .3s ease-in-out;
}
.ar-select .select2.select2-container--focus .select2-selection{
  border-color: #FDA100;
}
.form-control.is-invalid + .select2 .select2-selection, 
.was-validated .form-control:invalid + .select2 .select2-selection{
  border-color:#dc3545;
}

.form-control.is-valid + .select2 .select2-selection, 
.was-validated .form-control:valid + .select2 .select2-selection{
  border-color:#28a745;
}

.form-control.is-valid + .select2 .select2-selection--single .select2-selection__arrow, 
.was-validated .form-control:valid + .select2 .select2-selection--single .select2-selection__arrow,
.form-control.is-invalid + .select2 .select2-selection--single .select2-selection__arrow, 
.was-validated .form-control:invalid + .select2 .select2-selection--single .select2-selection__arrow{
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem );
  width: 30px;
  right: 20px;
}

.form-control.is-valid + .select2 .select2-selection--single .select2-selection__arrow b, 
.was-validated .form-control:valid + .select2 .select2-selection--single .select2-selection__arrow b,
.form-control.is-invalid + .select2 .select2-selection--single .select2-selection__arrow b, 
.was-validated .form-control:invalid + .select2 .select2-selection--single .select2-selection__arrow b{
  margin-left: 10px;
}

.form-control.is-valid + .select2 .select2-selection--single .select2-selection__arrow, 
.was-validated .form-control:valid + .select2 .select2-selection--single .select2-selection__arrow{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}

.form-control.is-invalid + .select2 .select2-selection--single .select2-selection__arrow, 
.was-validated .form-control:invalid + .select2 .select2-selection--single .select2-selection__arrow{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
}

.ar-select .select2 .select2-selection .select2-selection__rendered{
  height: 51px;
  line-height: 1.5;
  font-size: 1.125rem;
  padding: .75rem 1rem;
}

.ar-select .select2 .select2-selection .select2-selection__arrow{
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
}
.select2-dropdown{
  background-color: #FFF;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0px;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  border: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5 !important;
}

.select2-dropdown .select2-results .select2-results__options .select2-results__option{
  background-color: #FFF;
  padding: .75rem 1rem;
  transition: .3s ease-in-out;
}
.select2-dropdown .select2-results .select2-results__options .select2-results__option[aria-disabled="true"]{
  background-color: #F2F2F2;
  opacity: .5;
  cursor: no-drop;
}

.select2-dropdown .select2-results .select2-results__options .select2-results__option:hover:not([aria-disabled="true"]),
.select2-dropdown .select2-results .select2-results__options .select2-results__option.select2-results__option--highlighted:not([aria-disabled="true"]){
  color: #FDA100
}

.select2-results__options::-webkit-scrollbar {
  width: 16px;
  background-clip: padding-box;
}
.select2-results__options::-webkit-scrollbar-track {
  background-color: #F4F4F4;
  height: 8px;
  background-clip: padding-box;
  border-right: 10px solid rgba(0, 0, 0, 0);
  border-top: 10px solid rgba(0, 0, 0, 0);
  border-bottom: 10px solid rgba(0, 0, 0, 0);
}

.select2-results__options::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: #FDA100;
  border-right: 10px solid rgba(0, 0, 0, 0);
  border-top: 10px solid rgba(0, 0, 0, 0);
  border-bottom: 10px solid rgba(0, 0, 0, 0);
}

.select2-results__options::-webkit-scrollbar-button {
  display: none;
}

/* MENU PERSONALIZADO  */
.ar_navbar-toggler{
  display: none;
}
@media (max-width:992px) {
  .menu__boton{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ar_navbar-toggler{
    position: relative;
    margin-left: 20px;
    display: block;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border-color: #FDA100;
    background-color: #FDA100;
    border-radius: 0.25rem !important;
  }
  .ar_navbar-toggler:after,
  .ar_navbar-toggler:before{
    content: '';
    position: absolute;
    width: 60%;
    height: 3px;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: .3s linear;
  }
  .ar_navbar-toggler:after{
    top: -.8rem;
  }
  .ar_navbar-toggler::before{
    bottom: -.8rem;
  }

  .ar_navbar-toggler.active:after{
    top: 0;
    transform: rotate(-45deg);
  }
  .ar_navbar-toggler.active::before{
    bottom: 0;
    transform: rotate(45deg);
  }

  .menu__inner .ar_navigation{
    display: block;
    position: fixed;
    max-width: 350px;
    width: 100%;
    height: 100%;
    top: 0;
    right: -350px;
    background-color: #FFF;
    transition: .2s ease-in-out;
  }
  .menu__inner .ar_navigation.active{
    right: 0;
  }
  .menu__inner .ar_navigation .menu__opciones{
    display: block;
    height: auto;
    margin: auto;
    margin-top: 100px;
  }
  .menu__inner .ar_navigation .menu__opciones .menu__opcion{
    width: 100%;
    height: auto;
    padding: 1rem 2rem;
    display: block;
    color: #000;
  }
  .menu__inner .ar_navigation .menu__opcion:hover:after, 
  .menu__inner .ar_navigation .menu__opcion.active:after{
    left: 2rem;
    width: calc(100% - 4rem );
  }
}

.overlay{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 90;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px );
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.overlay.show {
  visibility: visible;
  opacity: 1;
}
.overlay-open{
  overflow: hidden;
}

/* CSS CALENDAR */
.ar-picker-container .datepicker-container{
  width: 100%;
  background: #FFFFFF;
  /* border: 1px solid #E5E5E5;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15); */
}

.datepicker-panel > ul {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.datepicker-panel > ul > li {
  width: calc(100% / 7);
  font-size: 1rem;
  transition: .3s linear;
}

/* YEAR */
.datepicker-panel > ul[data-view="months"] > li,
.datepicker-panel > ul[data-view="months"] > li:hover,
.datepicker-panel > ul[data-view="years"] > li,
.datepicker-panel > ul[data-view="years"] > li:hover{
  height: auto;
  float: inherit;
  background: inherit;
  padding: 5px 5px;
  width: calc(100% / 6);
  font-size: 1rem;
  line-height: 1rem;
  transition: .3s linear;
}
.datepicker-panel > ul[data-view="months"] > li > span,
.datepicker-panel > ul[data-view="years"] > li > span{
  border: 1px solid  transparent;
  display: block;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.datepicker-panel > ul[data-view="months"] > li.picked:not(.disabled) > span, 
.datepicker-panel > ul[data-view="months"] > li.picked:not(.disabled):hover > span,
.datepicker-panel > ul[data-view="years"] > li.picked:not(.disabled) > span, 
.datepicker-panel > ul[data-view="years"] > li.picked:not(.disabled):hover > span{
  color: #FFFFFF;
  background-color: #FDA100;
}

.datepicker-panel > ul[data-view="months"] > li.highlighted:not(.disabled) > span,
.datepicker-panel > ul[data-view="months"] > li.highlighted:not(.disabled):hover > span,
.datepicker-panel > ul[data-view="years"] > li.highlighted:not(.disabled) > span,
.datepicker-panel > ul[data-view="years"] > li.highlighted:not(.disabled):hover > span{
  background-color: rgb(253, 161, 0 , 0.13);
  color: #FDA100;
}

.datepicker-panel > ul[data-view="months"] > li:not(.disabled):hover > span,
.datepicker-panel > ul[data-view="years"] > li:not(.disabled):hover > span{
  color: #FDA100;
  background-color: #FFFFFF;
  border-color: #FDA100;
}

/* DAYS  */
.datepicker-panel > ul[data-view="days"] > li,
.datepicker-panel > ul[data-view="days"] > li:hover{
  height: auto;
  float: inherit;
  background: inherit;
  padding: 5px 5px;
}

.datepicker-panel > ul[data-view="days"] > li > span{
  border: 1px solid  transparent;
  display: block;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.datepicker-panel > ul[data-view="days"] > li.picked:not(.disabled) > span, 
.datepicker-panel > ul[data-view="days"] > li.picked:not(.disabled):hover > span{
  color: #FFFFFF;
  background-color: #FDA100;
}

.datepicker-panel > ul[data-view="days"] > li.highlighted:not(.disabled) > span,
.datepicker-panel > ul[data-view="days"] > li.highlighted:not(.disabled):hover > span{
  background-color: rgb(253, 161, 0 , 0.13);
  color: #FDA100;
}
.datepicker-panel > ul[data-view="days"] > li:not(.disabled):hover > span{
  color: #FDA100;
  background-color: #FFFFFF;
  border-color: #FDA100;
}

.datepicker-panel > ul[data-view="years"],
.datepicker-panel > ul[data-view="months"],
.datepicker-panel > ul[data-view="days"]{
  margin-bottom: 20px;
}
/* CUSTOM */
.datepicker-panel .picker-days{
  padding: 20px 0 ;
}
.datepicker-panel .picker-days li{
  position: relative;
  font-size: 1rem;
  font-weight: 700;
}
.datepicker-panel .picker-days li:hover{
  background-color: transparent;
}
.datepicker-panel .picker-days li.disabled:after{
  opacity: .2;
}

.datepicker-panel .picker-days li.prev:after,
  .datepicker-panel .picker-days li.next:after{
  content: '';
  position: absolute;
  height: 25px;
  width: 25px;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}

.datepicker-panel .picker-days li.prev:after{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='10' height='14' viewBox='0 0 10 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L2 7L9 13' stroke='black' stroke-width='2'/%3E%3C/svg%3E");
}
.datepicker-panel .picker-days li.next:after{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='10' height='14' viewBox='0 0 10 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 13L8 7L0.999999 1' stroke='black' stroke-width='2'/%3E%3C/svg%3E");
}

.ar-picker-trigger{
  position: absolute;
  top: 0;
  height: 51px;
  width: 50px;
  right: 0;
  top: 0;
  border: none;
  background-color: transparent;
}
.ar-picker-trigger:focus,
.ar-picker-trigger:focus-visible,
.ar-picker-trigger:focus-within{
  outline: none;
}

.ar-picker-container{
  display: none;
}

.form-control.ar-picker{
  margin-bottom: 0;
  box-shadow: none;
  border: none;
}
.was-validated .form-control.ar-picker:valid,
.was-validated .form-control.ar-picker:invalid{
  background-position : right calc(1.375em + .1875rem) center;
  border-width: 1px;
  border-style: solid;
}

.ar-picker-trigger:after{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0px 4px 5px 4px;
  border-color: transparent transparent #888 transparent;
  transform: rotate(180deg);
}

.ar-date-piker.actived .ar-picker-trigger:after{
  transform: rotate(0deg);
}

.ar-date-piker {
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.ar-check-input{
  margin-right: 3rem;
}

.ar-check-input input[type="radio"] {
  display: inline-block;
  vertical-align: middle;
  margin-right: .5rem;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: #fff;
  height: 16px;
  width: 16px;
  border: 1px solid #767676;
  position: relative; 
}

.ar-check-input input[type="radio"]:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.ar-check-input label {
  display: inline-block;
  vertical-align: middle;
  margin-right: .5rem;
}

.ar-check-input input[type="radio"]:checked:after {
  display: block; 
}

.blockUI.blockOverlay {
  z-index: 99!important;
}
.dropdown-arteco{
  position: relative;
  display: inline-block;
  width: auto;
  min-width: 480px;
  max-width: 100%;
  margin: 0 auto;
  font-size: 18px;
  color: #000;
}

.dropdown-arteco .dropdown-toggle{
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.75rem 1rem;
  background-color: #fff;
  position: relative;
  outline: 1px solid #E5E5E5;
  text-align: left;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, .1);
  cursor: pointer;
  border: none;
  transition: .25s ease-in-out;
}

.dropdown-arteco .dropdown-toggle:focus,
.dropdown-arteco .dropdown-toggle:focus-visible,
.dropdown-arteco .dropdown-toggle:hover{
  outline: 1px solid #FDA100;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, .1);
  border: none;
}

.dropdown-arteco .dropdown-toggle:after{
  right: 1rem;
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 0.5rem;
}
.dropdown-arteco .dropdown-menu{
  margin-top: 1rem;
  background-color: #fff;
  box-shadow: 0 15px 30px -10px rgb(0 0 0 / 10%);
  width: 100%;
  transition: .25s ease-in-out;
  padding: 0;
}

.dropdown-arteco .dropdown-menu img{
  max-width: 120px;
  width: auto;
  height: auto;
}
* {
  outline: none;
}
.dropdown-arteco .dropdown-item:focus,
.dropdown-arteco .dropdown-item:hover,
.dropdown-arteco .dropdown-item.active, 
.dropdown-arteco .dropdown-item:active{
  background-color: #FFFFFF;
  color: #FDA100;
}
.departamentos-interna-slider__slick .proyectos__slick-el-item--link:hover img.--not-link:first-child{
	display:block;
}