.body-dark .funcionalidades__select .select-selected {
  background-color: #463196;
  color: #fff; }

.body-dark .custom-radio-btn label {
  color: #ffffff !important; }

.body-dark .contact-form__content {
  background: rgba(18, 12, 41, 0.6);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid #463196; }

.body-dark .contact-form .select-selected {
  border-color: #463196; }

.body-dark .contact-form__input-section input, .body-dark .contact-form__input-section select {
  background-color: #120C29;
  color: #ffffff;
  border-color: #463196; }

.body-dark .contact-form__input-section input:focus {
  border-color: #ffffff; }
  .body-dark .contact-form__input-section input:focus::placeholder {
    color: #ffffff; }

.body-dark .btn-2 {
  color: #ffffff;
  background-color: #120C29;
  border-color: #26289C; }
  .body-dark .btn-2:hover {
    background-color: #6A52C7; }
  .body-dark .btn-2.active {
    background-color: #463196; }

.body-dark .pricing-table__table-wrapper {
  background: rgba(18, 12, 41, 0.7);
  border: 1px solid #463196;
  color: #ffffff; }
  .body-dark .pricing-table__table-wrapper .rTableHead, .body-dark .pricing-table__table-wrapper .rTableCell {
    border: 1px solid #463196; }
  .body-dark .pricing-table__table-wrapper .rTableBody .rTableRow:hover {
    background: rgba(18, 12, 41, 0.7); }
  .body-dark .pricing-table__table-wrapper .rTableBody .rTableRow:last-child .rTableCell {
    background-color: transparent; }
  .body-dark .pricing-table__table-wrapper .tick img {
    filter: invert(1); }

.body-dark .logos__el:hover {
  border: 1px solid #463196; }

.body-dark .logos__el.active {
  background-color: #140E2B;
  border: 1px solid #463196; }

.body-dark .switcher-wrapper span.switcher.switcher-1 input:checked,
.body-dark .switcher-wrapper span.switcher.switcher-1 input:not(:checked) {
  background-color: #120C29; }

.body-dark .switcher-wrapper span.switcher.switcher-1 input:not(:checked):before,
.body-dark .switcher-wrapper span.switcher.switcher-1 input:checked:after {
  color: #ffffff; }

.body-dark .select-selected {
  background-color: #120C29;
  color: #666666; }
  .body-dark .select-selected:after {
    border-color: #ffffff transparent transparent transparent; }

.body-dark .select-selected.select-arrow-active {
  color: #ffffff; }

.body-dark .custom-select-el--colab .select-selected {
  border: 1px solid #463196; }

.body-dark .select-items {
  background-color: #120C29;
  border: 1px solid #463196; }

.body-dark .select-items div {
  color: #ffffff; }

.body-dark .select-items div:hover {
  background-color: #5458EA; }

.body-dark .same-as-selected {
  background-color: #463196; }

.body-dark .select-selected.selected {
  color: #ffffff; }

.body-dark .metricas__cuadro {
  background: rgba(18, 12, 41, 0.7);
  border-color: #463196; }
  .body-dark .metricas__cuadro .col-lg-3:after {
    border-color: #463196; }
  @media (max-width: 992px) {
    .body-dark .metricas__cuadro:after, .body-dark .metricas__cuadro:before {
      border-color: #463196; } }

.body-dark .respuesta-form-divider:before {
  border-color: #463196; }

.body-dark .form-socials a img {
  filter: invert(100%); }

.body-dark .nav-container-sticky .rTableHeading .rTableRow {
  background: rgba(18, 12, 41, 0.7);
  border: none; }

.body-dark .nav-container-sticky .rTableHeading {
  box-shadow: 0 4px 2px 0 rgba(70, 49, 150, 0.6); }
  .body-dark .nav-container-sticky .rTableHeading .back-bluur {
    background-color: transparent; }

.body-dark .tab {
  background: rgba(18, 12, 41, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #463196; }

.body-dark .tabs__top:after, .body-dark .tabs__bottom:before {
  border-color: #463196; }

.body-dark .moddd .modal-content {
  background-color: #120C29;
  border: 1px solid #463196;
  color: #fff; }
  .body-dark .moddd .modal-content .close {
    color: #fff; }

.body-dark .moddd-2 .modal-content {
  border: 1px solid #463196;
  background-color: #120C29;
  color: #fff; }
  .body-dark .moddd-2 .modal-content .close {
    color: #fff; }
