/*Colores corporativos*/
.contact-form__content {
  background: rgba(252, 252, 252, 0.52);
  backdrop-filter: blur(59px);
  -webkit-backdrop-filter: blur(59px);
  border: 1px solid #B0B1FF;
  padding: 2rem;
  width: 100%;
  border-radius: 12px !important; }

.contact-form__input-section {
  padding-top: 2rem; }
  .contact-form__input-section input, .contact-form__input-section select {
    width: 100%;
    margin-bottom: 1.125rem;
    font-size: 1rem;
    border-radius: 4px !important;
    border: 1px solid transparent; }
    .contact-form__input-section input:focus, .contact-form__input-section select:focus {
      border: 1px solid #B0B1FF;
      box-shadow: none; }
