/*Colores corporativos*/
.contacto-formulario {
  position: relative; }
  .contacto-formulario__bg {
    position: absolute;
    width: 100%;
    height: 70%;
    background-size: cover;
    top: 0;
    z-index: 10; }
  .contacto-formulario .container {
    position: relative;
    z-index: 30; }
  .contacto-formulario__content {
    padding: 3.6rem 4.8rem 1.8rem;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12); }
