/*Colores corporativos*/
.banner-departamentos-interna .banner__img {
  max-height: 497px; }

.banner-departamentos-interna .banner__card {
  max-width: 401px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000; }
  .banner-departamentos-interna .banner__card-wrapper {
    padding-top: 4rem;
    padding-bottom: 6rem; }
  .banner-departamentos-interna .banner__card-supratitle {
    color: #767676;
    font-size: 1.25rem; }
  .banner-departamentos-interna .banner__card-title {
    padding-bottom: 1.25rem; }
  .banner-departamentos-interna .banner__card-br {
    width: 90%; }
  .banner-departamentos-interna .banner__card-bottom-metraje {
    width: 100%; }
    .banner-departamentos-interna .banner__card-bottom-metraje:after {
      content: none; }
    .banner-departamentos-interna .banner__card-bottom-metraje img, .banner-departamentos-interna .banner__card-bottom-metraje span {
      display: inline-block;
      vertical-align: middle; }

.departamento-interna-dsc {
  position: relative;
  margin-top: -4rem;
  transform: translateY(-50%);
  z-index: 99; }
  @media (max-width: 992px) {
    .departamento-interna-dsc {
      transform: translateY(0);
      margin-top: -8rem; } }
  .departamento-interna-dsc-el {
    display: flex;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    padding: 2rem 0;
    border-radius: 0px 20px !important; }
    @media (max-width: 992px) {
      .departamento-interna-dsc-el {
        flex-direction: column; } }
    .departamento-interna-dsc-el-op {
      flex-grow: 1;
      flex-basis: 0;
      text-align: center;
      position: relative; }
      @media (max-width: 992px) {
        .departamento-interna-dsc-el-op {
          text-align: left;
          padding: 1.5rem 1.5rem; } }
      .departamento-interna-dsc-el-op + .departamento-interna-dsc-el-op:before {
        content: "";
        position: absolute;
        left: 0;
        height: 100%;
        border-left: 3px solid #FDA100; }
        @media (max-width: 992px) {
          .departamento-interna-dsc-el-op + .departamento-interna-dsc-el-op:before {
            border-left: none;
            border-bottom: 4px solid #FDA100;
            width: 42px;
            top: 0;
            height: 0;
            left: 24px; } }
      .departamento-interna-dsc-el-op-inner {
        display: inline-block; }
      .departamento-interna-dsc-el-op img {
        display: inline-block;
        vertical-align: middle; }
        @media (max-width: 992px) {
          .departamento-interna-dsc-el-op img {
            width: 31px;
            margin-left: 6px; } }
      .departamento-interna-dsc-el-op-dsc {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        padding-left: .5rem; }
      .departamento-interna-dsc-el-op-title {
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.25rem; }
      .departamento-interna-dsc-el-op-supratitle {
        line-height: 1.5rem; }

.departamento-cacteristicas-el {
  position: relative;
  padding-left: 10px;
  min-height: 100px; }
  .departamento-cacteristicas-el:before {
    content: "";
    height: 48px;
    position: absolute;
    left: 0;
    border-left: 4px solid #FDA100;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: inline-block; }
  .departamento-cacteristicas-el img {
    display: inline-block;
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 10px; }
  .departamento-cacteristicas-el-title {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: calc(100% - 64px);
    position: absolute;
    left: 58px;
    top: 50%;
    transform: translateY(-50%); }

.departamentos-interna-galeria {
  padding-top: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom; }
  .departamentos-interna-galeria .departamento-cacteristicas-el {
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #E5E5E5;
    min-height: 76px;
    margin-bottom: 1rem; }
    .departamentos-interna-galeria .departamento-cacteristicas-el:before {
      border-left: 4px solid #E5E5E5;
      height: 100%; }
    .departamentos-interna-galeria .departamento-cacteristicas-el:hover {
      border-color: #767676; }
      .departamentos-interna-galeria .departamento-cacteristicas-el:hover:before {
        border-color: #767676; }
    .departamentos-interna-galeria .departamento-cacteristicas-el.active {
      border-color: #FDA100; }
      .departamentos-interna-galeria .departamento-cacteristicas-el.active:before {
        border-color: #FDA100; }

.departamentos-interna-planos__select {
  margin-bottom: 1rem; }

.departamentos-interna-slider__slick .proyectos__slick-el {
  background-color: #F9F9F9;
  margin: 0 10px;
  border-radius: 0px 20px !important;
  border: 1px solid #E5E5E5; }
  .departamentos-interna-slider__slick .proyectos__slick-el:hover {
    background-color: #fff;
    border: 1px solid #FDA100; }
  .departamentos-interna-slider__slick .proyectos__slick-el-subtitle {
    text-align: center;
    font-size: 1rem;
    padding: .5rem; }
  .departamentos-interna-slider__slick .proyectos__slick-el-item--link {
    color: #767676; }
    .departamentos-interna-slider__slick .proyectos__slick-el-item--link img:first-child {
      display: inline-block; }
    .departamentos-interna-slider__slick .proyectos__slick-el-item--link img:nth-child(2) {
      display: none; }
    .departamentos-interna-slider__slick .proyectos__slick-el-item--link:hover {
      text-decoration: none;
      color: #FDA100; }
      .departamentos-interna-slider__slick .proyectos__slick-el-item--link:hover img:first-child {
        display: none; }
      .departamentos-interna-slider__slick .proyectos__slick-el-item--link:hover img:nth-child(2) {
        display: inline-block; }
  .departamentos-interna-slider__slick .proyectos__slick-el-item-wrapper {
    border-top: 1px solid #C4C4C4; }
  .departamentos-interna-slider__slick .proyectos__slick-el-price {
    font-size: 1.25rem;
    text-align: center;
    padding: 12px 0 12px; }
  .departamentos-interna-slider__slick .proyectos__slick-el-img-wrapper {
    border: none; }

.departamentos-interna-slider__slick .slick-dots {
  list-style: none;
  margin-top: 16px; }
  .departamentos-interna-slider__slick .slick-dots li {
    display: inline-block;
    margin: 0 4px; }
    .departamentos-interna-slider__slick .slick-dots li button {
      font-size: 0;
      width: 8px;
      height: 8px;
      padding: 0;
      display: inline-block;
      border: 0;
      border-radius: 50% !important;
      outline: none; }
    .departamentos-interna-slider__slick .slick-dots li.slick-active button {
      background-color: #FDA100; }
