/*Colores corporativos*/
.banner-departamentos {
  min-height: 264px;
  min-height: 304px; }
  .banner-departamentos .banner__img {
    min-height: 264px; }
    @media (max-width: 992px) {
      .banner-departamentos .banner__img {
        min-height: 304px; } }
  .banner-departamentos .banner__title {
    display: inline-block;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(20px);
    font-size: 2.25rem;
    font-weight: bold;
    max-width: 90%;
    padding: 1.25rem 2.625rem;
    border-radius: 0px 0px 20px 0px !important; }
    .banner-departamentos .banner__title-wrapper {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      z-index: 99;
      text-align: center; }

.home-proyectos-departamentos .proyectos__no-slick {
  margin-top: -4rem; }

.home-proyectos-departamentos .proyectos__slick-el {
  margin-top: 4rem; }
  @media (max-width: 992px) {
    .home-proyectos-departamentos .proyectos__slick-el {
      margin-top: 2rem; } }

.home-proyectos-departamentos .proyectos__filters {
  top: -4rem;
  margin-bottom: -4rem;
  transform: translateY(-50%);
  position: relative;
  max-width: 920px;
  display: block;
  margin: auto;
  z-index: 99; }
  @media (max-width: 992px) {
    .home-proyectos-departamentos .proyectos__filters {
      top: -2rem;
      margin-bottom: -2rem; } }
  .home-proyectos-departamentos .proyectos__filters-el {
    display: flex;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    flex-wrap: wrap; }
    @media (max-width: 992px) {
      .home-proyectos-departamentos .proyectos__filters-el {
        border-radius: 0px 20px !important; } }
    .home-proyectos-departamentos .proyectos__filters-el-btn {
      flex-grow: 1;
      flex-basis: 0;
      text-align: center;
      position: relative;
      cursor: pointer;
      padding: .75rem .5rem; }
      @media (max-width: 992px) {
        .home-proyectos-departamentos .proyectos__filters-el-btn {
          flex: 0 0 50%;
          max-width: 50%; }
          .home-proyectos-departamentos .proyectos__filters-el-btn:last-child {
            flex: 0 0 100%;
            max-width: 100%; } }
      .home-proyectos-departamentos .proyectos__filters-el-btn:hover:after, .home-proyectos-departamentos .proyectos__filters-el-btn.active:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 4px solid #FDA100; }
    @media (max-width: 992px) {
      .home-proyectos-departamentos .proyectos__filters-el-select {
        margin-top: 2rem; } }
