@keyframes enter {
  from {
    transform: translate(100%);
    opacity: 0; }
  75% {
    opacity: 1; }
  to {
    transform: translate(0);
    opacity: 1; } }

@keyframes leavermove {
  from {
    transform: translateY(0);
    opacity: 1; }
  75% {
    opacity: 1; }
  to {
    transform: translateY(4px);
    opacity: 0; } }

@keyframes leave {
  from {
    transform: translate(0);
    opacity: 1; }
  to {
    transform: translate(100%);
    opacity: 0; } }

@keyframes enter-2 {
  from {
    transform: translate(-200%);
    opacity: 0; }
  to {
    transform: translate(0);
    opacity: 1; } }

@keyframes leave-2 {
  from {
    transform: translate(0);
    opacity: 1; }
  75% {
    opacity: 0; }
  to {
    transform: translate(-200%);
    opacity: 0; } }

@media (min-width: 992px) {
  .animated {
    animation-duration: 1s;
    animation-fill-mode: both; } }

.animated.infinite {
  animation-iteration-count: infinite; }

.animated.hinge {
  animation-duration: 2s; }
  .animated.hinge-2 {
    animation-duration: 2s; }
  .animated.hinge-3 {
    animation-duration: 3s; }
  .animated.hinge-4 {
    animation-duration: 4s; }

.animated.delay {
  animation-delay: 1s; }
  .animated.delay-2 {
    animation-delay: 2s; }
  .animated.delay-3 {
    animation-delay: 3s; }
  .animated.delay-4 {
    animation-delay: 4s; }

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s; }

@media (min-width: 992px) {
  .u-animated-hidden,
  .c-animated {
    opacity: 0; } }

@media (min-width: 992px) {
  .u-animated-visible {
    opacity: 1; } }
