.btn-enc {
  font-size: 1.48rem;
  font-weight: bold;
  border-radius: 50px !important;
  padding: .32rem 2rem;
  letter-spacing: .06rem; }
  .btn-enc.active {
    background-color: #C9D0DD; }

.select-enc {
  border: 2px solid #1E3C74;
  height: 46px;
  background-image: url("../img/Trazado 53.png");
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: 15px;
  /* for Firefox */
  -moz-appearance: none;
  /* for Safari, Chrome, Opera */
  -webkit-appearance: none; }
  .select-enc::-ms-expand {
    display: none; }
