.exzoom .exzoom_img_box {
  background-color: transparent;
  border: none; }

.exzoom .exzoom_nav {
  left: 0; }

.exzoom_nav_inner span {
  margin-left: 0 !important;
  margin-right: 16px !important; }

.exzoom_nav_inner img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important; }

.exzoom .exzoom_btn a, .exzoom .exzoom_btn a:hover {
  top: -80px !important;
  transform: translate(-100%, -50%);
  border: none;
  background: transparent;
  padding: 0;
  width: auto;
  height: auto;
  line-height: initial;
  font-size: 6rem;
  color: #1E3C74; }
