/*Colores corporativos*/
* {
  border-radius: 0 !important; }

html {
  font-size: 16px;
  font-family: "Poppins";
  color: #000; }
  @media (max-width: 992px) {
    html {
      font-size: 14px; } }

body {
  padding-top: 76px;
  font-size: 1rem;
  font-family: "Poppins";
  overflow-x: hidden;
  color: #000; }

.modal-backdrop {
  background: rgba(34, 32, 45, 0.9); }
  .modal-backdrop.show {
    opacity: 1; }

.section {
  padding: 4rem 0; }

.section-t {
  padding-top: 4rem; }

.section-b {
  padding-bottom: 4rem; }

@media (min-width: 992px) {
  .container--small {
    max-width: 951px; }
  .container--extra-small {
    max-width: 761px; }
  .container--extra-small-2 {
    max-width: 640px; } }

.post-content p {
  margin-bottom: 3rem;
  line-height: 2.125rem; }

.background-bottom {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom; }

.big-text {
  font-size: 10rem;
  font-weight: 700; }
  @media (max-width: 992px) {
    .big-text {
      font-size: 4rem; } }

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Poppins"; }

.h1 {
  font-size: 4rem;
  font-weight: 700; }
  @media (max-width: 992px) {
    .h1 {
      font-size: 2rem; } }

.h2 {
  font-size: 2.25rem;
  font-weight: 700; }

.h3 {
  font-size: 1.75rem;
  font-weight: 700; }

.ln-h3 {
  line-height: 2.625rem; }

.ln-h4 {
  line-height: 2rem; }

.h4 {
  font-size: 1.25rem;
  font-weight: 700; }

.border-radius-1 {
  border-radius: 0 20px !important; }

@media (min-width: 576px) {
  .modal-dialog.modal-sm {
    max-width: 640px;
    margin: 1.75rem auto; } }

.color-1 {
  color: #FDA100; }
  .color-1--important {
    color: #FDA100 !important; }
  a.color-1 {
    text-decoration: underline; }
    a.color-1:hover {
      color: #FDA100; }

.bg-color-1 {
  background-color: #FDA100 !important; }

.border-color-1 {
  border: 1px solid #FDA100 !important; }

.color-2 {
  color: #22202D; }
  .color-2--important {
    color: #22202D !important; }

.bg-color-2 {
  background-color: #22202D; }

.border-color-2 {
  border: 1px solid #22202D !important; }

.color-3 {
  color: #767676; }
  a.color-3 {
    text-decoration: underline; }
    a.color-3:hover {
      color: #767676; }

.bg-color-3 {
  background-color: #767676; }

.color-4 {
  color: #E5E5E5; }

.bg-color-4 {
  background-color: #E5E5E5; }

.color-5 {
  color: #263B80; }

.bg-color-5 {
  background-color: #263B80; }

.color-6 {
  color: #272525; }

.bg-color-6 {
  background-color: #272525; }

.color-7 {
  color: #4C4B51; }

.bg-color-7 {
  background-color: #4C4B51; }

.color-8 {
  color: #FFBA41; }

.bg-color-8 {
  background-color: #FFBA41; }

.color-9 {
  color: #616D70; }

.bg-color-9 {
  background-color: #616D70; }

.color-10 {
  color: #C4C4C4; }

.bg-color-10 {
  background-color: #C4C4C4; }

.color-11 {
  color: #F9F9F9; }

.bg-color-11 {
  background-color: #F9F9F9; }

.color-12 {
  color: #45444B; }

.bg-color-12 {
  background-color: #45444B; }

.bg-color-w {
  background-color: #fff; }

.color-w {
  color: #fff; }

.bg-color-b {
  background-color: #000; }

.color-b {
  color: #000; }

.flex-basis-0 {
  flex-basis: 0; }

.px-10, .pl-10 {
  padding-left: 6rem !important; }

.px-10, .pr-10 {
  padding-right: 6rem !important; }

.py-10, .pt-10 {
  padding-top: 6rem !important; }

.py-10, .pb-10 {
  padding-bottom: 6rem !important; }

.z-index-1 {
  z-index: 10; }

.z-index-2 {
  z-index: 20; }

.supratitle {
  font-size: 1rem;
  color: #767676;
  margin-bottom: .5rem;
  text-transform: uppercase; }

.img-border-radius, .border-radius {
  border-radius: 0px 20px !important; }

.grid-item {
  width: 33%; }

.grid-item--width2 {
  width: 50%; }

#toTop {
  padding: 5px 3px;
  background: #fff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 48px;
  height: 48px;
  border-radius: 50% !important;
  z-index: 9999; }
  #toTop img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.valores-section img {
  width: 99px;
  height: 88px;
  object-fit: contain; }
