/*Colores corporativos*/
.banner {
  position: relative;
  width: 100%;
  min-height: 480px; }
  .banner__images {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10; }
  .banner__img {
    object-fit: cover;
    min-height: 480px;
    height: 100%;
    width: 100%; }
  .banner__butn {
    transform-origin: 100% 100%;
    margin: 0 10px; }
    .banner__butn-wrapper {
      position: fixed;
      height: 0;
      z-index: 90;
      top: 40%;
      right: 0;
      transform: translateY(-50%); }
    .banner__butn-content {
      position: relative;
      right: 0;
      transform: rotate(-90deg) translateX(50%);
      transform-origin: 100% 100%;
      z-index: 30;
      display: flex;
      flex-direction: row; }
    .banner__butn-opt {
      width: 40px;
      height: 40px;
      display: inline-block;
      border-radius: 50% !important;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 4px; }
    .banner__butn-ws {
      background-color: #272525;
      transform: rotate(90deg); }
      .banner__butn-ws:hover {
        background-color: #00CE15; }
    .banner__butn-chat {
      background-color: #272525;
      transform: rotate(90deg); }
      .banner__butn-chat:hover {
        background-color: #263B80; }
  .banner__content {
    position: relative;
    z-index: 20; }
    .banner__content .container {
      position: relative; }
  .banner__slick, .banner .slick-list, .banner .slick-track {
    height: 100%; }
  .banner__slick {
    display: none; }
    .banner__slick-wrapper {
      height: 100%; }
    .banner__slick.active {
      display: block; }
  .banner__dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 60; }
  .banner .slick-dots {
    margin-bottom: 0;
    list-style: none;
    padding: 0; }
    .banner .slick-dots li {
      display: inline-block;
      vertical-align: middle;
      margin: 4px;
      cursor: pointer; }
      .banner .slick-dots li button {
        font-size: 0;
        border: none;
        width: 8px;
        height: 8px;
        padding: 0;
        border-radius: 50% !important;
        display: block;
        cursor: pointer;
        background-color: #C4C4C4;
        outline: none; }
      .banner .slick-dots li.slick-active button {
        background-color: #FDA100; }

.banner__card {
  color: #fff;
  background-color: rgba(34, 32, 45, 0.8);
  backdrop-filter: blur(20px);
  border-radius: 0px 0px 60px 0px !important;
  width: 100%;
  max-width: 550px;
  padding: 32px;
  position: relative;
  display: none;
  margin: auto; }
  @media (min-width: 992px) {
    .banner__card {
      margin: initial; } }
  .banner__card.active {
    display: block; }
  .banner__card-wrapper {
    padding-top: 5rem;
    padding-bottom: 5rem; }
  .banner__card-2 {
    position: absolute;
    top: 24px;
    right: 24px; }
  .banner__card-counter {
    font-size: 1.75rem;
    font-weight: 400; }
    .banner__card-counter small {
      font-size: 1.25rem; }
  .banner__card-supratitle {
    color: #FDA100;
    font-size: 1.75rem; }
  .banner__card-title {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.625rem;
    padding-top: 1.25rem;
    padding-bottom: 3rem; }
  .banner__card-br {
    width: 80%;
    border-bottom: 1px solid #616D70; }
  .banner__card-bottom {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
    .banner__card-bottom-metraje, .banner__card-bottom-habitaciones {
      width: 40%;
      display: inline-block;
      vertical-align: middle;
      position: relative; }
    .banner__card-bottom-habitaciones {
      width: 50%;
      padding-left: 5%; }
    .banner__card-bottom-metraje:after {
      content: "";
      height: 40px;
      display: inline-block;
      border-right: 1px solid #616D70;
      position: absolute;
      top: -10px;
      right: 0; }
    .banner__card-bottom-direccion {
      padding-top: 1rem; }
    .banner__card-bottom-metraje img, .banner__card-bottom-metraje span, .banner__card-bottom-habitaciones img, .banner__card-bottom-habitaciones span, .banner__card-bottom-direccion img, .banner__card-bottom-direccion span {
      display: inline-block;
      vertical-align: middle;
      line-height: 1rem; }
    .banner__card-bottom-metraje img, .banner__card-bottom-habitaciones img, .banner__card-bottom-direccion img {
      margin-right: .36rem; }

.banner__list {
  position: absolute;
  top: 5rem;
  left: calc(-4px - 73px); }
  .banner__list-opt {
    width: 73px;
    height: 73px;
    background-color: #22202D;
    backdrop-filter: blur(20px);
    border-radius: 0px 0px 20px 0px !important;
    margin-bottom: 16px;
    position: relative;
    transition: all 0.25s ease;
    cursor: pointer; }
    .banner__list-opt-dsc {
      font-size: 0.65rem;
      line-height: 0.75rem;
      display: inline-block;
      color: #FDA100;
      position: absolute;
      top: 5px;
      left: 5px; }
    .banner__list-opt-number {
      font-size: 1.75rem;
      line-height: 1.75rem;
      display: inline-block;
      color: #fff;
      position: absolute;
      bottom: 0;
      right: 20px; }
    .banner__list-opt.active {
      background-color: #fff; }
      .banner__list-opt.active .banner__list-opt-dsc, .banner__list-opt.active .banner__list-opt-number {
        color: #000; }
    .banner__list-opt:hover {
      transform: translateY(-5px); }
  .banner__list ul {
    list-style: none;
    padding-left: 0; }

.home-proyectos .container {
  position: relative;
  z-index: 20; }

.proyectos__slick-el {
  padding: 0 10px;
  text-align: left; }
  .proyectos__slick-el-img {
    width: 100%; }
    .proyectos__slick-el-img-wrapper {
      position: relative;
      border-radius: 0px 20px !important;
      overflow: hidden;
      border: 1px solid #fff;
      display: block; }
      .proyectos__slick-el-img-wrapper:hover {
        text-decoration: none; }
  .proyectos__slick-el-sticker {
    font-size: 1rem;
    color: #fff;
    background-color: #263B80;
    top: 12px;
    left: 12px;
    padding: 4px 12px;
    display: inline-block;
    position: absolute;
    border-radius: 4px !important; }
  .proyectos__slick-el-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 2.25rem;
    font-weight: 700;
    text-align: left;
    background-color: rgba(76, 75, 81, 0.4);
    border-radius: 0px 20px !important;
    margin: 0;
    padding: 20px;
    color: #fff; }
  .proyectos__slick-el-subtitle {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 2rem;
    padding-top: 6px;
    color: #000; }
    .proyectos__slick-el-subtitle:hover {
      text-decoration: none;
      color: #FDA100; }
  .proyectos__slick-el-body {
    color: #767676; }
  .proyectos__slick-el-address {
    padding: 12px 0;
    border-bottom: 1px solid #C4C4C4; }
  .proyectos__slick-el-item-wrapper {
    border-bottom: 1px solid #C4C4C4;
    padding: 12px 0; }
  .proyectos__slick-el-item img, .proyectos__slick-el-item span {
    display: inline-block;
    vertical-align: middle; }
  .proyectos__slick-el-price {
    padding: 12px 0 28px;
    color: #000; }
    .proyectos__slick-el-price-number {
      font-weight: 700; }
  .proyectos__slick-el:hover .proyectos__slick-el-title {
    background-color: rgba(255, 255, 255, 0.9);
    color: #272525; }
  .proyectos__slick-el:hover .proyectos__slick-el-img-wrapper-inner {
    border-radius: 0 0 0 24px !important;
    overflow: hidden; }
  .proyectos__slick-el:hover .proyectos__slick-el-img-wrapper img {
    transform: scale(1.1);
    transition: transform .5s; }

@media (max-width: 992px) {
  .proyectos__slick .slick-list {
    padding: 0 40% 0 0 !important; } }

@media (max-width: 992px) {
  .proyectos__slick-2 .slick-list {
    padding: 0 40% 0 0 !important; } }

.slick-prevArrow,
.slick-nextArrow {
  width: 48px;
  height: 48px;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.7);
  font-size: 1.8rem;
  line-height: 52px;
  color: #767676;
  position: absolute;
  z-index: 50;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .slick-prevArrow:hover,
  .slick-nextArrow:hover {
    background: #fff;
    color: #000; }

.slick-prevArrow {
  left: -14px; }

.slick-nextArrow {
  right: -14px; }

.home-proyectos-entregados {
  position: relative;
  overflow: hidden; }
  .home-proyectos-entregados .proyectos__slick-el-title {
    font-size: 1.75rem; }
  .home-proyectos-entregados .proyectos__slick-el-item:first-child {
    padding-bottom: 8px; }
  .home-proyectos-entregados__img {
    position: absolute;
    bottom: 0;
    z-index: 10; }
  .home-proyectos-entregados .container {
    position: relative;
    z-index: 20; }

.home-clientes {
  position: relative; }
  .home-clientes__img {
    position: absolute;
    bottom: 0;
    z-index: 10; }
  .home-clientes .container {
    position: relative;
    z-index: 20; }
  .home-clientes .proyectos__slick-el-play {
    position: absolute;
    cursor: pointer;
    z-index: 80;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .home-clientes .proyectos__slick-el-desc {
    color: #000; }
  .home-clientes .proyectos__slick-el-inner {
    border-radius: 0px 20px !important;
    margin-bottom: 12px;
    padding-bottom: 48px;
    border: 1px solid #E5E5E5;
    background-color: #fff; }
    .home-clientes .proyectos__slick-el-inner:hover {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12); }
  .home-clientes .proyectos__slick-el-comentario {
    position: absolute;
    bottom: 40px;
    padding: 0 16px; }
    @media (max-width: 992px) {
      .home-clientes .proyectos__slick-el-comentario {
        position: relative;
        padding-top: 16px;
        bottom: initial; } }
    .home-clientes .proyectos__slick-el-comentario-wrapper {
      height: 288px;
      width: 100%;
      position: relative; }
    .home-clientes .proyectos__slick-el-comentario-img {
      position: absolute;
      right: 32px;
      top: 24px; }
      @media (max-width: 992px) {
        .home-clientes .proyectos__slick-el-comentario-img {
          display: none; } }
  .home-clientes .proyectos__slick-el-img {
    height: 288px;
    width: 100%;
    object-fit: cover; }
    .home-clientes .proyectos__slick-el-img-wrapper {
      border-radius: 0 !important;
      border-top-right-radius: 20px !important; }
  .home-clientes .proyectos__slick-el-body {
    padding: 0 1rem; }
    .home-clientes .proyectos__slick-el-body-img {
      margin-right: 6px;
      float: left; }

.home-noticias {
  padding-bottom: 110px; }
  .home-noticias .proyectos__slick-el-subtitle {
    display: block;
    padding: 1rem 2rem;
    font-size: 1.25rem; }
    .home-noticias .proyectos__slick-el-subtitle:hover {
      color: #FDA100;
      text-decoration: none; }
  .home-noticias .proyectos__slick-el-inner {
    background-color: #fff;
    border-radius: 0px 20px !important;
    margin-bottom: 12px;
    padding-bottom: 8px; }
    .home-noticias .proyectos__slick-el-inner:hover {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12); }

@media (max-width: 992px) {
  .clientes__slick .slick-list, .noticias__slick .slick-list {
    padding: 0 40% 0 0 !important; } }
