@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?wty63j");
  src: url("../fonts/icomoon.eot?wty63j#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?wty63j") format("truetype"), url("../fonts/icomoon.woff?wty63j") format("woff"), url("../fonts/icomoon.svg?wty63j#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-medic:before {
  content: "\e902"; }

.icon-restaurant:before {
  content: "\e903"; }

.icon-edifice:before {
  content: "\e904"; }

.icon-bike:before {
  content: "\e905"; }

.icon-graduation:before {
  content: "\e906"; }

.icon-waze:before {
  content: "\e900"; }

.icon-google-maps:before {
  content: "\e901"; }
