/*Colores corporativos*/
@media (max-width: 992px) {
  html {
    font-size: 14px; }
  .butn {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    font-size: 1.2rem;
    padding: .9em 3.4em .8em 3.4em;
    margin-left: 0;
    margin-right: 0; }
  .butn-4, .butn-1, .butn-2, .butn-10 {
    margin-left: 0;
    margin-right: 0; }
  .two-columns {
    columns: 1;
    -webkit-columns: 1; }
  .footer__logo {
    display: none; }
  .footer__socials {
    padding-top: 1em;
    text-align: center; }
    .footer__socials a img {
      max-width: 80px;
      width: 12%; }
  .footer__bottom-1 {
    padding-bottom: .5em; }
  .footer__list ul {
    padding-top: 2em; }
    .footer__list ul:after {
      top: 0.6em; }
  .home-noticia__bottom {
    display: none; }
  .home-noticia__img:after {
    padding-bottom: 60%; }
  .home-noticia--2 {
    display: flex;
    flex-direction: row; }
    .home-noticia--2 > div {
      flex-basis: 0; }
    .home-noticia--2 .home-noticia__img, .home-noticia--2 .home-noticia__desc {
      flex-grow: 1; }
  .home-suscribete {
    border-radius: 0 !important;
    width: calc(100% + 30px);
    left: -15px;
    position: relative; }
    .home-suscribete .h3 {
      font-size: 2.84rem; }
  .banner-home-contacto .butn {
    width: 80%; }
  .banner-principal .carousel-control-next,
  .banner-principal .carousel-control-prev {
    top: 190px; }
  .banner-principal .carousel-control-prev {
    left: 60px; }
  .banner-principal .carousel-control-next {
    right: 60px; }
  .banner-principal small {
    font-size: 1.25rem;
    line-height: 1.56em; }
  .banner-principal--fit .carousel-indicators,
  .banner-principal--fit .carousel-leaver,
  .banner-principal--fit .carousel-counter {
    display: none; }
  .banner-nosotros {
    text-align: center;
    height: initial;
    min-height: initial;
    position: relative !important;
    padding-top: 4rem; }
    .banner-nosotros .carousel, .banner-nosotros .carousel-inner, .banner-nosotros .carousel-item {
      position: relative !important;
      height: initial;
      min-height: initial; }
    .banner-nosotros .banner-principal__content {
      position: relative !important;
      top: initial;
      left: initial;
      transform: initial; }
    .banner-nosotros .video-play {
      display: inline-block;
      max-width: 90%; }
  .banner-home {
    min-height: 480px; }
    .banner-home .carousel, .banner-home .carousel-inner, .banner-home .carousel-item {
      min-height: 480px !important; }
    .banner-home .carousel-indicators,
    .banner-home .carousel-leaver,
    .banner-home .carousel-counter {
      display: none; }
    .banner-home__inner {
      min-height: 480px;
      height: 100vh;
      width: 100%;
      margin: 0 !important; }
      .banner-home__inner > div {
        position: absolute;
        top: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        align-items: center; }
        .banner-home__inner > div > * {
          flex-basis: 0;
          flex-grow: 1;
          width: 100%; }
        .banner-home__inner > div > div {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding-bottom: 2rem;
          width: 100%; }
  .h3 {
    font-size: 3rem; }
  .h6 {
    font-size: 1.2rem;
    line-height: 1.32em; }
  .h2 {
    font-size: 3.2rem; }
  .slider-empresas .b-slider-prev {
    transform: translateX(50%); }
  .slider-empresas .b-slider-next {
    transform: translateX(-50%); }
  .slider-empresas .slick-list {
    max-width: 90%;
    margin: auto; }
  .slider-empresas__el {
    padding: 1em 1em 0; }
  .navbar-toggler {
    position: absolute;
    border: none;
    right: 30px;
    border: 2px solid #A29EBE;
    border-radius: 50% !important;
    width: 56px;
    height: 56px; }
    .navbar-toggler:focus {
      outline: 0; }
    .navbar-toggler span {
      display: block;
      width: 24px;
      height: 4px;
      margin: 5px auto;
      background-color: #fff !important;
      border-radius: 4px !important; }
  .navbar-brand {
    position: absolute;
    left: 30px;
    top: 20px;
    width: 132;
    max-width: 132px; }
  .navbar {
    height: 92px; }
    .navbar__socials {
      padding-top: 1em;
      padding-bottom: 2rem;
      text-align: center;
      width: 90%;
      max-width: 480px;
      display: flex;
      justify-content: space-around; }
      .navbar__socials a img {
        max-width: 60px;
        width: 100%; }
  .navbar-collapse {
    align-items: center;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #1b182e;
    padding-top: 7rem;
    display: flex !important;
    flex-direction: column;
    transform: translateX(100%);
    transition: all .5s ease;
    overflow-y: auto; }
    .navbar-collapse:after {
      content: "";
      width: 100%;
      top: 92px;
      position: absolute;
      left: 0;
      border-bottom: 1px solid rgba(162, 158, 190, 0.1); }
    .navbar-collapse.show {
      transform: translateX(0); }
    .navbar-collapse ul {
      width: 90%;
      text-align: center; }
    .navbar-collapse ul:first-child .nav-item:first-child {
      border-top: 2px solid; }
    .navbar-collapse .nav-item {
      font-size: 1.64rem;
      width: 100%;
      margin: 0 auto !important;
      padding: .64em 0; }
      .navbar-collapse .nav-item .nav-link {
        border-radius: 40px !important; }
  .nav-ecommerce {
    font-size: 1.2rem;
    font-weight: bold;
    right: 20px; }
  .navbar-close {
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    border: 2px solid #A29EBE;
    border-radius: 50% !important;
    width: 56px;
    height: 56px;
    overflow: hidden;
    cursor: pointer; }
    .navbar-close:after {
      position: absolute;
      content: '\d7';
      color: #fff;
      top: 1px;
      left: 15px; }
  .navbar-lupa {
    cursor: pointer;
    position: absolute;
    left: 5%;
    top: 3rem; }
    .navbar-lupa img {
      width: 3rem; }
  .navbar-bottom {
    width: 90%;
    margin: auto;
    padding: 2rem 0;
    font-size: 2rem; }
  .buscar-collapse {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    transform: translateX(100%);
    transition: all .5s ease; }
    .buscar-collapse.show {
      transform: translateX(0); }
    .buscar-collapse input {
      width: 360px;
      font-size: 1em;
      border: none;
      border-bottom: 2px solid; }
      .buscar-collapse input:focus {
        box-shadow: none;
        outline: 0; }
    .buscar-collapse > div:first-child {
      transform: translateY(-50%); }
  .navbar-close-buscar {
    position: absolute;
    top: 0;
    font-size: 5rem;
    font-weight: bold;
    right: 5%;
    cursor: pointer; }
  .caracteristicas__cuadro li {
    font-size: 1.24rem; }
  .el-solucion small {
    font-size: 1rem;
    line-height: 1.56em; }
  .el-solucion__content li {
    font-size: .94rem; }
  .el-solucion__ico {
    width: 50%; }
    .el-solucion__ico span {
      font-size: 3em; }
  .el-solucion__wrapper {
    padding: 0 1rem; }
  .a-contacto input, .a-contacto textarea {
    font-size: 1.12rem;
    border-radius: 30px !important; }
  .a-contacto .butn {
    font-size: 1.2rem;
    width: 100%;
    padding-left: 0;
    padding-right: 0; }
  .a-contacto small {
    font-size: 1rem; }
  .a-contacto .h2 {
    font-size: 1.72rem; }
  .consideraciones {
    font-size: .84rem; }
  .office-planes__img {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .office-planes__img div {
      text-align: center;
      flex: 1 0 20%;
      max-width: 20%;
      padding-top: 5px;
      padding-bottom: 5px; }
      .office-planes__img div img {
        max-width: 40px; }
  .cifras__cuadro {
    width: calc(100% + 30px);
    position: relative;
    left: -15px;
    border-radius: 0 !important;
    padding-left: 4rem;
    padding-right: 4rem; }
    .cifras__cuadro-content .col-lg-3 + .col-lg-3 {
      border-left: none;
      border-top: 1px dotted #fff; }
    .cifras__cuadro-content .col-lg-3 {
      padding-bottom: 2rem !important; }
    .cifras__cuadro-top {
      border-bottom: 1px dotted #fff; }
      .cifras__cuadro-top:after {
        content: none; }
  .cifras__dsc {
    font-size: 1.48rem; }
  .caso {
    flex-direction: column; }
    .caso__parrafo {
      font-size: 1.16rem; }
    .caso__logo {
      text-align: center; }
  .slider-beneficios__el {
    width: 94%; }
  .bar-contact {
    font-size: .84rem; }
    .bar-contact__1 img {
      max-width: 48px; }
    .bar-contact__1 span {
      display: inline-block;
      padding-right: .5em; }
  .close {
    top: -45px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 3rem; }
  .submenu-hover + ul {
    position: relative;
    top: 0;
    width: 95%;
    margin: auto;
    box-shadow: initial;
    padding-top: 5px; }
    .submenu-hover + ul li {
      font-size: 1.24rem;
      margin-bottom: 5px; }
      .submenu-hover + ul li a {
        padding: 0.3em 1.25em;
        border-radius: 20px !important;
        background-color: transparent;
        color: #fff; }
        .submenu-hover + ul li a:hover, .submenu-hover + ul li a.active {
          background-color: #fff;
          color: #1b182e; }
  .plan-tab__el2-head > div {
    font-size: 1rem; }
  .condiciones-select span {
    display: block;
    font-size: 1.32rem;
    text-align: center;
    padding: .5em 0; }
  .condiciones-select .select-custom {
    width: 100%; }
  .line-height-banner {
    line-height: 1.56em !important; }
  #contenido .h6 {
    font-size: 1.64rem; }
  .contenido-table {
    border-radius: 20px !important; }
    .contenido-table__inner:before {
      left: -26px; }
  .noticia-detalle__1 {
    border-bottom: none; }
  .noticia-detalle__metada {
    display: block !important; }
    .noticia-detalle__metada div:nth-child(1) {
      float: left;
      padding-bottom: .5rem; }
    .noticia-detalle__metada div:nth-child(2) {
      float: right;
      padding-bottom: .5rem; }
    .noticia-detalle__metada div:nth-child(3) {
      float: left;
      display: block;
      width: 100%;
      padding: .5rem 0 1rem 0;
      border-top: 1px dotted #A29EBE; } }
