/*Colores corporativos*/
.banner-nosotros {
  height: 448px; }
  .banner-nosotros .banner__img {
    min-height: 448px; }
  .banner-nosotros .banner__title {
    display: inline-block;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(20px);
    font-size: 2.25rem;
    font-weight: bold;
    max-width: 100%;
    padding: 1.25rem 2.625rem;
    border-radius: 0px 0px 20px 0px !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12); }
    @media (max-width: 992px) {
      .banner-nosotros .banner__title {
        font-size: 2rem; } }
    .banner-nosotros .banner__title-wrapper {
      position: absolute;
      top: 100%;
      transform: translateY(-50%);
      width: 100%;
      z-index: 99;
      text-align: left; }
