/*Colores corporativos*/
.rTable {
  display: table; }

.rTableRow {
  display: flex; }

.rTableHeading {
  display: table-header-group; }

.rTableBody {
  display: table-row-group; }

.rTableFoot {
  display: table-footer-group; }

.rTableCell, .rTableHead {
  display: flex; }

.pricing-table b, .pricing-table strong {
  font-weight: 800; }

.pricing-table article {
  width: 100%;
  margin: 0 auto;
  position: relative; }

.pricing-table ul {
  display: flex;
  top: 0px;
  z-index: 10;
  padding-bottom: 14px; }

.pricing-table li {
  list-style: none;
  flex: 1; }

.pricing-table li:last-child {
  border-right: 1px solid #B0B1FF; }

.pricing-table button {
  width: 100%;
  border: 1px solid #B0B1FF;
  border-right: 0;
  border-top: 0;
  padding: 10px;
  background: #FFF;
  font-size: 14px;
  font-weight: bold;
  height: 60px;
  color: #999; }

.pricing-table li.active button {
  background: #F5F5F5;
  color: #000; }

.pricing-table__price {
  transition: all .25s ease; }
  .pricing-table__price-title {
    font-weight: 800;
    font-size: 1.25rem; }
    .pricing-table__price-title-desc {
      transition: all .25s ease; }
  .pricing-table__price-divisa {
    font-size: 1.25rem;
    font-weight: 400; }
  .pricing-table__price-amount {
    font-size: 1.75rem;
    font-weight: 900;
    position: relative;
    display: inline-block; }
    .pricing-table__price-amount small {
      font-size: 40%;
      font-weight: 800;
      position: absolute !important;
      top: 4px; }
  .pricing-table__price-desc {
    padding-left: .85rem; }

.pricing-table-table__itm {
  position: relative; }
  .pricing-table-table__itm-img {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px; }

.pricing-table__table-wrapper {
  border: 1px solid #B0B1FF;
  border-radius: 10px !important; }

.pricing-table .rTable {
  font-size: .85rem;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  border-radius: 10px !important; }

.pricing-table .rTableHead {
  display: none;
  border-top: 0 !important; }
  .pricing-table .rTableHead:first-child {
    border-left: 0 !important;
    vertical-align: middle; }
  .pricing-table .rTableHead:last-child {
    border-right: 0 !important; }

.pricing-table .rTableCell, .pricing-table .rTableHead {
  height: 53px;
  position: relative;
  vertical-align: middle; }

.pricing-table .rTableCell, .pricing-table .rTableHead {
  border: 1px solid #B0B1FF;
  padding: 10px;
  empty-cells: show; }

.pricing-table .rTableCell, .pricing-table .rTableHead {
  text-align: left; }

.pricing-table .rTableCell + .rTableCell, .pricing-table .rTableHead + .rTableHead {
  text-align: center;
  display: none; }

.pricing-table .rTableCell.default {
  display: table-cell; }

.pricing-table .sep {
  font-weight: bold; }

.pricing-table .txt-l {
  font-size: 28px;
  font-weight: bold; }

.pricing-table .txt-top {
  position: relative;
  top: -9px;
  left: -2px; }

.pricing-table .tick {
  font-size: 18px;
  color: #2CA01C; }

.pricing-table .hide {
  border: 0;
  background: none; }

@media (min-width: 640px) {
  .pricing-table ul {
    display: none; }
  .pricing-table .rTableCell, .pricing-table .rTableHead {
    display: flex !important;
    flex-direction: column;
    height: auto;
    justify-content: center;
    width: 360px; }
  .pricing-table .rTableCell + .rTableCell, .pricing-table .rTableHead + .rTableHead {
    width: calc((100% - 360px)/3); } }

.pricing-table__table-wrapper .rTableHeading .rTableRow {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2; }

.pricing-table__table-wrapper .rTableBody .rTableRow:last-child .rTableCell {
  background-color: #B0B1FF;
  border-bottom: 0 !important; }
  .pricing-table__table-wrapper .rTableBody .rTableRow:last-child .rTableCell:first-child {
    border-left: 0 !important;
    border-bottom-left-radius: 10px !important; }
  .pricing-table__table-wrapper .rTableBody .rTableRow:last-child .rTableCell:last-child {
    border-right: 0 !important;
    border-bottom-right-radius: 10px !important; }

.pricing-table__table-wrapper .rTableBody .rTableRow:hover {
  background: rgba(252, 252, 252, 0.72); }

.nav-container-sticky .pricing-table__price-title-desc {
  display: none; }

.nav-container-sticky .rTableHeading {
  z-index: 999;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0; }
  .nav-container-sticky .rTableHeading .rTableHead {
    border-left: 1px solid #B0B1FF; }
    .nav-container-sticky .rTableHeading .rTableHead:first-child {
      border-left: none; }
    .nav-container-sticky .rTableHeading .rTableHead * {
      z-index: 10;
      position: relative; }
    .nav-container-sticky .rTableHeading .rTableHead .back-bluur {
      background-color: rgba(255, 255, 255, 0.12);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1; }
  .nav-container-sticky .rTableHeading .rTableRow {
    border: 1px solid #B0B1FF; }
    .nav-container-sticky .rTableHeading .rTableRow .rTableCell {
      border: 1px solid #B0B1FF; }

.nav-container-sticky .pricing-table__price {
  transform: scale(0.8); }

#nav-container-top {
  height: 1px;
  visibility: hidden; }
