.producto__img {
  position: relative;
  cursor: pointer; }

.modal-custom {
  text-align: center; }
  .modal-custom img {
    max-width: 100%; }
  .modal-custom__btn {
    font-size: 3rem;
    color: #ffffff;
    opacity: 1;
    position: fixed !important;
    top: 1vh !important;
    right: 2vw !important; }

.triangulo {
  width: 0;
  height: 0;
  border-right: 6px solid transparent;
  border-top: 10px solid transparent;
  border-left: 6px solid transparent;
  border-bottom: 10px solid #7B9F2D;
  display: inline-block;
  transform: scaleY(-1);
  transform-origin: 0 75%; }

.open-info-nu.is_open .triangulo {
  transform: scaleY(1); }
