@media (max-width: 992px) {
  html {
    font-size: 14px;
    overflow-x: hidden; }
  .h1 {
    font-size: 28px; }
  .presentation__img img {
    width: 140%; }
  .font-size-2-2 {
    font-size: 1.5rem; }
  .beneficios__slick-el br {
    display: block; }
  .beneficios__slick-el-desc {
    padding: 2rem 0; }
  .beneficios__slick-el-img-wrapper {
    padding-top: 2rem;
    text-align: center; }
    .beneficios__slick-el-img-wrapper img {
      max-width: 90%;
      height: 233px;
      width: auto; }
    .beneficios__slick-el-img-wrapper:before {
      content: none; }
  .mancha-1 {
    display: none; }
  .mancha-3 {
    right: initial;
    left: -500px; }
  .mancha-5-wrapper {
    transform: translateY(-500px); }
  .switcher-wrapper {
    justify-content: flex-start;
    align-items: flex-start; }
  .custom-select-el--colab {
    max-width: 380px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px !important; }
    .custom-select-el--colab .select-selected {
      border: 1px solid #B0B1FF;
      padding: 16px; }
  .mancha-6 {
    left: -600px; }
  .logos__el {
    width: calc(33% - 25px); }
  .logos__el-wrapper {
    flex-wrap: wrap;
    justify-content: center; }
  .logos__desc-text, .logos__desc-title {
    font-size: 1.5rem; }
  .metricas__cuadro {
    position: relative;
    padding: 1rem; }
    .metricas__cuadro-title {
      font-size: 1.2rem; }
      .metricas__cuadro-title + div {
        font-size: 1.1rem;
        line-height: 1.37rem; }
    .metricas__cuadro-number {
      font-size: 1.42rem; }
    .metricas__cuadro:after {
      content: "";
      position: absolute;
      height: calc(100% - 20px);
      top: 10px;
      left: 50%;
      border-right: 1px solid  #B0B1FF; }
    .metricas__cuadro:before {
      content: "";
      position: absolute;
      width: calc(100% - 20px);
      left: 10px;
      top: 50%;
      border-top: 1px solid  #B0B1FF; }
    .metricas__cuadro .col-6 {
      padding: 3.64rem 0; }
    .metricas__cuadro-title, .metricas__cuadro-number {
      margin-bottom: .8rem; }
    .metricas__cuadro .col-lg-3:after, .metricas__cuadro .col-lg-3:before {
      content: none; }
  .planes br {
    display: none; }
  .funcionalidades__img img {
    max-width: 120%; }
  br {
    display: none; }
  footer {
    font-size: 1rem !important; }
    footer div {
      line-height: 1.25rem; }
  .mancha-4 {
    max-width: 850px;
    top: 500px;
    left: 40%; }
  .select-items div {
    font-size: 1.12rem; }
  .contact-form__input-section input, .contact-form__input-section select, .select-selected {
    height: calc(1.5em + 1.5rem + 2px) !important;
    padding: 0.75rem 0.75rem !important; }
  .pricing-table li:last-child {
    border-right: 0; }
  .switcher-wrapper span.switcher input:before {
    left: 6.2%; } }

@media (max-width: 720px) {
  .beneficios__slick-el-img-wrapper img {
    height: 160px; }
  .h3 {
    font-size: 1.5rem; }
  .beneficios__slick-el .font-size-2-2 {
    font-size: 1.125rem; } }

@media (max-width: 580px) {
  .mancha-5-wrapper {
    transform: translateY(-400px); }
  .mancha-5 {
    right: -450px; } }

@media (max-width: 420px) {
  .switcher-wrapper span.switcher input:before,
  .switcher-wrapper span.switcher input:after {
    font-size: .8rem; }
  .switcher-wrapper span.switcher input:before {
    left: 9%; } }
