/*Colores corporativos*/
.container--timeline {
  padding-left: 0;
  padding-right: 0; }

.timeline-theme-1 {
  width: 100%; }
  .timeline-theme-1 .timeline-list, .timeline-theme-1 .timeline-item {
    width: 1140px;
    border: none; }
  .timeline-theme-1 .timeline-item {
    padding: 10px 25px; }
  .timeline-theme-1 .timeline-dots-wrap {
    overflow: initial; }
  .timeline-theme-1 .timeline-dots li {
    float: none;
    width: 190px;
    text-align: right;
    font-family: "Poppins" !important;
    overflow: initial;
    display: inline-block; }
    .timeline-theme-1 .timeline-dots li button {
      position: relative;
      font-weight: 700;
      font-size: 1.75rem; }
      .timeline-theme-1 .timeline-dots li button:before {
        content: "";
        width: 16px;
        height: 16px;
        border: 1px solid #FDA100;
        display: inline-block;
        border-radius: 50% !important;
        position: absolute;
        left: 50%;
        bottom: 100%;
        transform: translate(-50%, -50%);
        background-color: #F9F9F9;
        z-index: 20; }
      .timeline-theme-1 .timeline-dots li button:after {
        content: "";
        border-top: 1px solid #FDA100;
        width: 190px;
        left: 50%;
        bottom: 100%;
        transform: translate(0, -16px);
        position: absolute;
        z-index: 10; }
    .timeline-theme-1 .timeline-dots li.slide-active button {
      color: #000; }
      .timeline-theme-1 .timeline-dots li.slide-active button:before {
        background-color: #FDA100; }
    .timeline-theme-1 .timeline-dots li:last-child button:after {
      width: 0; }
