* {
  border-radius: 0 !important; }

/*Colores corporativos*/
html {
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 400; }
  @media (min-width: 992px) {
    html {
      font-size: 16px; } }

body {
  font-size: .86rem; }

.color-1 {
  color: #be37bb; }
  .color-1--important {
    color: #be37bb !important; }

.bg-color-1 {
  background-color: #be37bb !important; }

.border-color-1 {
  border: 1px solid #be37bb !important; }

.color-2 {
  color: #2e2665; }
  .color-2--important {
    color: #2e2665 !important; }

.bg-color-2 {
  background-color: #2e2665; }

.border-color-2 {
  border: 1px solid #2e2665 !important; }

.color-3 {
  color: #26223c; }

.bg-color-3 {
  background-color: #26223c; }

.color-4 {
  color: #1b182e; }

.bg-color-4 {
  background-color: #1b182e; }

.color-5 {
  color: #524d71; }

.bg-color-5 {
  background-color: #524d71; }

.color-6 {
  color: #eceaf4; }

.bg-color-6 {
  background-color: #eceaf4; }

.color-w {
  color: #fff; }

.flex-basis-0 {
  flex-basis: 0; }

.px-10, .pl-10 {
  padding-left: 6rem !important; }

.px-10, .pr-10 {
  padding-right: 6rem !important; }

.py-10, .pt-10 {
  padding-top: 6rem !important; }

.py-10, .pb-10 {
  padding-bottom: 6rem !important; }

.img-bg-cover {
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.z-index-1 {
  z-index: 10; }

.z-index-2 {
  z-index: 20; }

.bg-cover-center {
  background-size: cover;
  background-position: center; }
