/*Colores corporativos*/
* {
  border-radius: 0 !important; }

html {
  font-size: 16px;
  font-family: "Poppins";
  color: #000; }
  @media (max-width: 992px) {
    html {
      font-size: 14px; } }

body {
  padding-top: 76px;
  font-size: 1rem;
  font-family: "Poppins";
  overflow-x: hidden;
  color: #000; }

.modal-backdrop {
  background: rgba(34, 32, 45, 0.9); }
  .modal-backdrop.show {
    opacity: 1; }

.section {
  padding: 4rem 0; }

.section-t {
  padding-top: 4rem; }

.section-b {
  padding-bottom: 4rem; }

@media (min-width: 992px) {
  .container--small {
    max-width: 951px; }
  .container--extra-small {
    max-width: 761px; }
  .container--extra-small-2 {
    max-width: 640px; } }

.post-content p {
  margin-bottom: 3rem;
  line-height: 2.125rem; }

.background-bottom {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom; }

.big-text {
  font-size: 10rem;
  font-weight: 700; }
  @media (max-width: 992px) {
    .big-text {
      font-size: 4rem; } }

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Poppins"; }

.h1 {
  font-size: 4rem;
  font-weight: 700; }
  @media (max-width: 992px) {
    .h1 {
      font-size: 2rem; } }

.h2 {
  font-size: 2.25rem;
  font-weight: 700; }

.h3 {
  font-size: 1.75rem;
  font-weight: 700; }

.ln-h3 {
  line-height: 2.625rem; }

.ln-h4 {
  line-height: 2rem; }

.h4 {
  font-size: 1.25rem;
  font-weight: 700; }

.border-radius-1 {
  border-radius: 0 20px !important; }

@media (min-width: 576px) {
  .modal-dialog.modal-sm {
    max-width: 640px;
    margin: 1.75rem auto; } }

.color-1 {
  color: #FDA100; }
  .color-1--important {
    color: #FDA100 !important; }
  a.color-1 {
    text-decoration: underline; }
    a.color-1:hover {
      color: #FDA100; }

.bg-color-1 {
  background-color: #FDA100 !important; }

.border-color-1 {
  border: 1px solid #FDA100 !important; }

.color-2 {
  color: #22202D; }
  .color-2--important {
    color: #22202D !important; }

.bg-color-2 {
  background-color: #22202D; }

.border-color-2 {
  border: 1px solid #22202D !important; }

.color-3 {
  color: #767676; }
  a.color-3 {
    text-decoration: underline; }
    a.color-3:hover {
      color: #767676; }

.bg-color-3 {
  background-color: #767676; }

.color-4 {
  color: #E5E5E5; }

.bg-color-4 {
  background-color: #E5E5E5; }

.color-5 {
  color: #263B80; }

.bg-color-5 {
  background-color: #263B80; }

.color-6 {
  color: #272525; }

.bg-color-6 {
  background-color: #272525; }

.color-7 {
  color: #4C4B51; }

.bg-color-7 {
  background-color: #4C4B51; }

.color-8 {
  color: #FFBA41; }

.bg-color-8 {
  background-color: #FFBA41; }

.color-9 {
  color: #616D70; }

.bg-color-9 {
  background-color: #616D70; }

.color-10 {
  color: #C4C4C4; }

.bg-color-10 {
  background-color: #C4C4C4; }

.color-11 {
  color: #F9F9F9; }

.bg-color-11 {
  background-color: #F9F9F9; }

.color-12 {
  color: #45444B; }

.bg-color-12 {
  background-color: #45444B; }

.bg-color-w {
  background-color: #fff; }

.color-w {
  color: #fff; }

.bg-color-b {
  background-color: #000; }

.color-b {
  color: #000; }

.flex-basis-0 {
  flex-basis: 0; }

.px-10, .pl-10 {
  padding-left: 6rem !important; }

.px-10, .pr-10 {
  padding-right: 6rem !important; }

.py-10, .pt-10 {
  padding-top: 6rem !important; }

.py-10, .pb-10 {
  padding-bottom: 6rem !important; }

.z-index-1 {
  z-index: 10; }

.z-index-2 {
  z-index: 20; }

.supratitle {
  font-size: 1rem;
  color: #767676;
  margin-bottom: .5rem;
  text-transform: uppercase; }

.img-border-radius, .border-radius {
  border-radius: 0px 20px !important; }

.grid-item {
  width: 33%; }

.grid-item--width2 {
  width: 50%; }

#toTop {
  padding: 5px 3px;
  background: #fff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 48px;
  height: 48px;
  border-radius: 50% !important;
  z-index: 9999; }
  #toTop img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.valores-section img {
  width: 99px;
  height: 88px;
  object-fit: contain; }

@font-face {
  font-family: "Poppins";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/poppins-thin-webfont.woff") format("woff"), url("../fonts/poppins-thin-webfont.woff2") format("woff2"); }

@font-face {
  font-family: "Poppins";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/poppins-extralight-webfont.woff") format("woff"), url("../fonts/poppins-extralight-webfont.woff2") format("woff2"); }

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/poppins-light-webfont.woff") format("woff"), url("../fonts/poppins-light-webfont.woff2") format("woff2"); }

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/poppins-regular-webfont.woff") format("woff"), url("../fonts/poppins-regular-webfont.woff2") format("woff2"); }

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/poppins-medium-webfont.woff") format("woff"), url("../fonts/poppins-medium-webfont.woff2") format("woff2"); }

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/poppins-semibold-webfont.woff") format("woff"), url("../fonts/poppins-semibold-webfont.woff2") format("woff2"); }

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/poppins-bold-webfont.woff") format("woff"), url("../fonts/poppins-bold-webfont.woff2") format("woff2"); }

@font-face {
  font-family: "Poppins";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/poppins-extrabold-webfont.woff") format("woff"), url("../fonts/poppins-extrabold-webfont.woff2") format("woff2"); }

@font-face {
  font-family: "Poppins";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/poppins-black-webfont.woff") format("woff"), url("../fonts/poppins-black-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?wty63j");
  src: url("../fonts/icomoon.eot?wty63j#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?wty63j") format("truetype"), url("../fonts/icomoon.woff?wty63j") format("woff"), url("../fonts/icomoon.svg?wty63j#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-medic:before {
  content: "\e902"; }

.icon-restaurant:before {
  content: "\e903"; }

.icon-edifice:before {
  content: "\e904"; }

.icon-bike:before {
  content: "\e905"; }

.icon-graduation:before {
  content: "\e906"; }

.icon-waze:before {
  content: "\e900"; }

.icon-google-maps:before {
  content: "\e901"; }

/*Colores corporativos*/
.butn {
  text-decoration: none;
  font-weight: 400;
  color: #000;
  font-size: 1rem;
  line-height: 1.5rem;
  border: 0;
  display: inline-block; }
  .butn:hover {
    color: #000;
    text-decoration: none; }
  .butn-1 {
    background-color: #FDA100;
    padding: .67rem 2rem;
    border-radius: 0.25rem !important; }
    .butn-1:hover {
      background-color: #FFBA41; }
  .butn-2 {
    background-color: #22202D;
    padding: .67rem 2rem;
    color: #fff;
    border-radius: 0.25rem !important; }
    .butn-2:hover {
      background-color: #4C4B51;
      color: #fff; }
  .butn-3 {
    background-color: #616D70;
    color: #fff;
    padding: .67rem 2rem;
    border-radius: 0.25rem !important; }
    .butn-3:hover {
      background-color: #616D70;
      color: #fff; }
  .butn-4 {
    background-color: #22202D;
    color: #fff;
    padding: .67rem 2rem;
    border-radius: 0.25rem !important; }
    .butn-4:hover {
      background-color: #FDA100;
      color: #000; }
  .butn-5 {
    background-color: #fff;
    color: #767676;
    border: 1px solid #767676;
    padding: .67rem 2rem;
    border-radius: 0.25rem !important; }
    .butn-5:hover {
      background-color: #fff;
      color: #767676;
      border: 1px solid #767676; }
  .butn-6 {
    background-color: #fff;
    color: #767676;
    border: 1px solid #767676;
    padding: .67rem 2rem;
    border-radius: 0.25rem !important; }
    .butn-6:focus {
      outline: 0; }
    .butn-6 [class^="icon-"], .butn-6 [class*=" icon-"] {
      font-size: 170%; }
    .butn-6:hover {
      background-color: #fff;
      color: #000;
      border: 1px solid #FDA100; }
    .butn-6.active {
      background-color: #FDA100;
      color: #000;
      border: 1px solid #FDA100; }
  .butn-ico {
    border: 1px solid #E5E5E5;
    display: flex;
    justify-content: center;
    width: 4.065rem;
    height: 3.375rem;
    margin: 0 auto 2rem;
    background-color: #fff;
    cursor: pointer;
    font-size: 1.82rem; }
    .butn-ico img {
      width: 1.625rem; }
    .butn-ico [class^="icon-"], .butn-ico [class*=" icon-"] {
      line-height: 1.7; }
    .butn-ico .icon-graduation {
      font-size: 86%;
      line-height: 2.1; }
    .butn-ico .icon-bike {
      font-size: 115%; }
    .butn-ico.active {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
      color: #FDA100; }
  .butn-pagination {
    padding: .57rem .2rem;
    text-align: center;
    width: 44px;
    border-radius: 0.25rem !important;
    background-color: #fff;
    border: 1px solid #E5E5E5;
    display: inline-block; }
    .butn-pagination:hover {
      border: 1px solid #FDA100; }
    .butn-pagination.active {
      background-color: #FDA100;
      border: 1px solid #FDA100; }

/*Colores corporativos*/
@media (min-width: 576px) {
  .position-sm-static {
    position: static !important; }
  .position-sm-relative {
    position: relative !important; }
  .position-sm-absolute {
    position: absolute !important; }
  .position-sm-fixed {
    position: fixed !important; }
  .position-sm-sticky {
    position: sticky !important; }
  .overflow-sm-visible {
    overflow: visible !important; }
  .overflow-sm-hidden {
    overflow: hidden !important; }
  .overflow-sm-scroll {
    overflow: scroll !important; }
  .overflow-sm-auto {
    overflow: auto !important; } }

@media (min-width: 768px) {
  .position-md-static {
    position: static !important; }
  .position-md-relative {
    position: relative !important; }
  .position-md-absolute {
    position: absolute !important; }
  .position-md-fixed {
    position: fixed !important; }
  .position-md-sticky {
    position: sticky !important; }
  .overflow-md-visible {
    overflow: visible !important; }
  .overflow-md-hidden {
    overflow: hidden !important; }
  .overflow-md-scroll {
    overflow: scroll !important; }
  .overflow-md-auto {
    overflow: auto !important; } }

@media (min-width: 992px) {
  .position-lg-static {
    position: static !important; }
  .position-lg-relative {
    position: relative !important; }
  .position-lg-absolute {
    position: absolute !important; }
  .position-lg-fixed {
    position: fixed !important; }
  .position-lg-sticky {
    position: sticky !important; }
  .overflow-lg-visible {
    overflow: visible !important; }
  .overflow-lg-hidden {
    overflow: hidden !important; }
  .overflow-lg-scroll {
    overflow: scroll !important; }
  .overflow-lg-auto {
    overflow: auto !important; } }

@media (min-width: 1200px) {
  .position-xl-static {
    position: static !important; }
  .position-xl-relative {
    position: relative !important; }
  .position-xl-absolute {
    position: absolute !important; }
  .position-xl-fixed {
    position: fixed !important; }
  .position-xl-sticky {
    position: sticky !important; }
  .overflow-xl-visible {
    overflow: visible !important; }
  .overflow-xl-hidden {
    overflow: hidden !important; }
  .overflow-xl-scroll {
    overflow: scroll !important; }
  .overflow-xl-auto {
    overflow: auto !important; } }

@keyframes enter {
  from {
    transform: translate(100%);
    opacity: 0; }
  75% {
    opacity: 1; }
  to {
    transform: translate(0);
    opacity: 1; } }

@keyframes leavermove {
  from {
    transform: translateY(0);
    opacity: 1; }
  75% {
    opacity: 1; }
  to {
    transform: translateY(4px);
    opacity: 0; } }

@keyframes leave {
  from {
    transform: translate(0);
    opacity: 1; }
  to {
    transform: translate(100%);
    opacity: 0; } }

@keyframes enter-2 {
  from {
    transform: translate(-200%);
    opacity: 0; }
  to {
    transform: translate(0);
    opacity: 1; } }

@keyframes leave-2 {
  from {
    transform: translate(0);
    opacity: 1; }
  75% {
    opacity: 0; }
  to {
    transform: translate(-200%);
    opacity: 0; } }

@media (min-width: 992px) {
  .animated {
    animation-duration: 1s;
    animation-fill-mode: both; } }

.animated.infinite {
  animation-iteration-count: infinite; }

.animated.hinge {
  animation-duration: 2s; }
  .animated.hinge-2 {
    animation-duration: 2s; }
  .animated.hinge-3 {
    animation-duration: 3s; }
  .animated.hinge-4 {
    animation-duration: 4s; }

.animated.delay {
  animation-delay: 1s; }
  .animated.delay-2 {
    animation-delay: 2s; }
  .animated.delay-3 {
    animation-delay: 3s; }
  .animated.delay-4 {
    animation-delay: 4s; }

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s; }

@media (min-width: 992px) {
  .u-animated-hidden,
  .c-animated {
    opacity: 0; } }

@media (min-width: 992px) {
  .u-animated-visible {
    opacity: 1; } }

.fakeScroll {
  overflow: visible !important; }

.fakeScroll__wrap {
  overflow: hidden;
  height: 100%;
  position: relative;
  z-index: 1; }

.fakeScroll__content {
  height: 100%;
  width: 100%;
  /* padding         : 0 32px 0 0; */
  /* right           : -18px; */
  position: relative;
  overflow: auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scrollbar-width: none; }

.fakeScroll__content::-webkit-scrollbar {
  display: none; }

.fakeScroll__track {
  position: absolute;
  right: -15px;
  top: 0;
  bottom: 0;
  width: 9px;
  cursor: default; }

.fakeScroll__bar {
  position: relative;
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  border-radius: 4px;
  right: 0;
  top: 0;
  z-index: 0;
  transition: background 0.1s;
  cursor: -moz-grab;
  cursor: -webkit-grab; }

.fakeScroll__bar:hover {
  background: rgba(255, 255, 255, 0.55); }

.fakeScroll__bar.fakeScroll--grabbed {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  background: white; }

body.fakeScroll--grabbed {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

/*Colores corporativos*/
.menu {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  height: 76px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 190;
  background-color: #fff; }
  .menu.nav-up {
    top: -76px; }
  .menu__logo img:first-child {
    display: inline-block; }
  .menu__logo img:nth-child(2) {
    display: none; }
  .menu__logo:hover img:first-child {
    display: none; }
  .menu__logo:hover img:nth-child(2) {
    display: inline-block; }
  .menu__logo a, .menu__logo .menu__desc {
    display: inline-block;
    vertical-align: middle; }
  .menu__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 76px; }
  .menu__desc {
    margin-left: 1.5rem;
    padding-left: 1.5rem;
    position: relative; }
    .menu__desc:before {
      content: "";
      position: absolute;
      height: 36px;
      width: 1px;
      background-color: #000;
      left: 0;
      top: 50%;
      transform: translateY(-50%); }
  .menu__opcion {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000;
    width: 114px;
    margin-right: 8px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative; }
    .menu__opcion:hover, .menu__opcion.active {
      color: #000;
      text-decoration: none; }
      .menu__opcion:hover:after, .menu__opcion.active:after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: #FDA100;
        position: absolute;
        bottom: 0; }
  .menu__opciones {
    display: none;
    height: 76px;
    align-items: center;
    margin-right: auto;
    margin-left: 12%; }
    @media (min-width: 992px) {
      .menu__opciones {
        display: flex; } }
  .menu-dark {
    background-color: #22202D; }
    .menu-dark .menu__opcion {
      color: #fff; }

.footer {
  background-color: #22202D;
  padding: 3rem 0 2rem;
  color: #fff; }
  @media (max-width: 992px) {
    .footer {
      padding: 2rem 0 2rem; } }
  .footer__item img, .footer__item span {
    display: inline-block;
    vertical-align: middle; }
  .footer__item img {
    margin-right: 6px; }
  @media (max-width: 992px) {
    .footer__item {
      margin: 1rem 0; } }
  .footer__title {
    font-weight: 700;
    font-size: 1.26rem; }
  .footer__inner {
    border-top: 1px solid #FDA100;
    border-bottom: 1px solid #767676;
    padding: 40px 0; }
  .footer__header {
    padding-bottom: 2rem; }
    @media (max-width: 992px) {
      .footer__header .row .col-lg-3:first-child {
        padding-bottom: 2rem;
        border-bottom: 1px solid #FDA100;
        margin-bottom: 1rem; } }
  .footer__list {
    padding-top: 1.25rem; }
    .footer__list ul {
      list-style: none;
      color: #fff;
      padding-left: 0; }
      .footer__list ul li, .footer__list ul a {
        color: #fff;
        font-weight: 200; }
        .footer__list ul li:hover, .footer__list ul a:hover {
          color: #FDA100;
          text-decoration: none; }
      .footer__list ul li {
        padding-bottom: 1.25rem; }
    .footer__list-socials a {
      display: inline-block;
      vertical-align: middle;
      margin-right: 16px; }
      .footer__list-socials a:hover img {
        fill: red; }
  .footer__bottom {
    padding-top: 2rem;
    font-size: .85rem;
    text-align: center;
    color: #767676; }
    .footer__bottom a {
      color: #767676; }

.custom-breadcrumb {
  background-color: #F9F9F9; }
  .custom-breadcrumb .breadcrumb {
    background-color: #F9F9F9;
    margin: 0 !important; }
    .custom-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
      content: ">";
      color: #767676;
      font-size: 1.5rem;
      line-height: 1.7rem;
      height: 1rem; }
    .custom-breadcrumb .breadcrumb-item a {
      color: #767676; }
      .custom-breadcrumb .breadcrumb-item a:hover {
        text-decoration: none; }
    .custom-breadcrumb .breadcrumb-item.active {
      color: #000; }
      .custom-breadcrumb .breadcrumb-item.active:before {
        color: #000 !important; }

.select-box {
  position: relative;
  margin: 0 auto;
  font-size: 18px;
  color: #000;
  width: 100%; }
  .select-box--2 {
    display: inline-block;
    width: auto;
    min-width: 480px;
    max-width: 100%; }
  .select-box__current {
    position: relative;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    outline: 1px solid #E5E5E5; }
    .select-box__current:hover {
      outline: 1px solid #FDA100; }
    .select-box__current.active + .select-box__list {
      opacity: 1;
      animation-name: none; }
      .select-box__current.active + .select-box__list .select-box__option {
        cursor: pointer; }
  .select-box__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    transition: 0.2s ease; }
  .select-box__value {
    display: flex; }
  .select-box__input {
    display: none; }
    .select-box__input:checked + .select-box__input-text {
      display: block; }
  .select-box__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: .75rem 1rem;
    background-color: #fff; }
  .select-box__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    margin-top: 1rem;
    background-color: #fff;
    z-index: 99;
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1); }
    .select-box__list .fakeScroll__track {
      right: 0;
      z-index: 999; }
  .select-box__option {
    display: block;
    padding: .75rem 1rem;
    background-color: #fff;
    margin-bottom: 0; }
    .select-box__option:hover, .select-box__option:focus {
      color: #FDA100; }

@keyframes HideList {
  from {
    transform: scaleY(1); }
  to {
    transform: scaleY(0); } }

.slider-ss__slick .slick-prevArrow {
  left: 20px; }

.slider-ss__slick .slick-nextArrow {
  right: 20px; }

.slider-ss__slick-dots {
  text-align: center; }
  .slider-ss__slick-dots .slick-dots {
    margin-bottom: 0;
    list-style: none;
    padding: 0; }
    .slider-ss__slick-dots .slick-dots li {
      display: inline-block;
      vertical-align: middle;
      margin: 4px;
      cursor: pointer; }
      .slider-ss__slick-dots .slick-dots li button {
        font-size: 0;
        border: none;
        width: 8px;
        height: 8px;
        padding: 0;
        border-radius: 50% !important;
        display: block;
        cursor: pointer;
        background-color: #C4C4C4;
        outline: none; }
      .slider-ss__slick-dots .slick-dots li.slick-active button {
        background-color: #FDA100; }

.slider-ss__slick-2 .slick-prevArrow {
  left: -20px; }

.slider-ss__slick-2 .slick-nextArrow {
  right: -20px; }

.slider-ss__el {
  width: 100%;
  position: relative;
  border-radius: 0px 20px !important; }
  .slider-ss__el:before {
    content: "";
    width: 100%;
    padding-top: 100%;
    position: relative;
    display: block; }
  .slider-ss__el--2:before {
    padding-top: 70%; }
  .slider-ss__el-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10; }
    .slider-ss__el-img img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .slider-ss__el-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    cursor: pointer; }
    .slider-ss__el-play img {
      width: 82px;
      transition: all 0.25s; }
    .slider-ss__el-play:hover img {
      width: 94px; }
  .slider-ss__el-zoom {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 10px;
    z-index: 99; }

.slider-ss__msg {
  width: 100%;
  max-width: 70%;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  border-radius: 0px 20px 0px 0px !important;
  position: absolute;
  z-index: 20;
  bottom: 0;
  left: 0;
  padding: .65rem 1.2rem; }
  .slider-ss__msg-title {
    font-weight: bold;
    font-size: 1.25rem; }

.slider-ss__blog {
  margin: auto; }
  .slider-ss__blog .slider-ss__el:before {
    padding-top: 50%; }

.slider-categorias {
  border-bottom: 1px solid #E5E5E5; }
  .slider-categorias__el {
    height: 56px;
    position: relative; }
    .slider-categorias__el a {
      color: #000;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0; }
      .slider-categorias__el a:hover {
        text-decoration: none; }
      .slider-categorias__el a span {
        display: inline-block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 100%;
      }
      .slider-categorias__el a.active:after {
        content: "";
        width: 100%;
        height: 3px;
        background-color: #FDA100;
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0; }
  .slider-categorias__slick .slick-arrow {
    box-shadow: none;
    background-color: transparent; }
    .slider-categorias__slick .slick-arrow:hover {
      background-color: transparent; }
  .slider-categorias__slick .slick-prevArrow {
    left: -30px; }
  .slider-categorias__slick .slick-nextArrow {
    right: -30px; }

.cuadro {
  padding-top: 0; }
  .cuadro__marco {
    border: 1px solid #E5E5E5;
    padding: 2rem; }

.galeria-btn {
  display: flex;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 680px;
  margin: auto; }
  @media (max-width: 992px) {
    .galeria-btn {
      flex-wrap: wrap; } }
  .galeria-btn__el {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    position: relative;
    cursor: pointer;
    padding: .75rem .5rem; }
    @media (max-width: 992px) {
      .galeria-btn__el {
        flex: 50%;
        max-width: 50%; } }
    .galeria-btn__el:hover:after, .galeria-btn__el.active:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 4px solid #FDA100; }

.filter-resultado-el {
  border: 1px solid #FDA100;
  display: inline-block;
  vertical-align: middle;
  width: 7.5rem;
  font-size: 1rem;
  padding: 0.45rem .75rem;
  margin-right: 1.25rem; }
  .filter-resultado-el__img {
    float: right;
    line-height: 1.25rem;
    cursor: pointer; }

.filter-resultado-delete {
  display: inline-block;
  vertical-align: middle; }
  .filter-resultado-delete a {
    color: #000;
    text-decoration: underline; }

.contacto {
  padding: 2rem 0;
  background-size: cover;
  background-position: center bottom;
  position: relative; }
  .contacto:before {
    content: "";
    position: absolute;
    height: 6.625rem;
    background-color: #FDA100;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; }
  .contacto__dsc {
    padding: 1rem 0 2rem;
    color: #767676; }
  .contacto .select-box {
    margin-bottom: 1rem; }
  .contacto__financiamiento {
    color: #767676;
    border-top: 1px solid #E5E5E5;
    margin-top: 2rem;
    padding: 2rem 0; }
  .contacto-el {
    border-radius: 0px 20px !important;
    padding: 3rem 2.5rem;
    background-color: #fff;
    position: relative;
    z-index: 20; }
    .contacto-el .h3 {
      line-height: 2.625rem; }
  .contacto__img-2 {
    padding-top: 2rem;
    max-width: 471px; }
    .contacto__img-2 img {
      max-width: 100%;
      border-radius: 0px 20px !important; }
  .contacto__butn {
    text-align: center; }
    .contacto__butn-el {
      display: inline-block;
      width: 193px;
      border: 1px solid #FDA100;
      padding: 3rem .5rem .5rem;
      color: #000;
      font-weight: 700;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15); }
      .contacto__butn-el:hover {
        text-decoration: none;
        color: #000; }
      .contacto__butn-el img {
        width: 52px; }
      .contacto__butn-el span {
        display: block;
        margin-top: 2rem; }
  .contacto__socials {
    padding-top: 1rem; }
    .contacto__socials a {
      display: inline-block;
      vertical-align: middle;
      margin: 0 .5rem; }

.form-control {
  padding: .75rem 1rem;
  color: #000;
  font-size: 1.125rem;
  margin-bottom: 1rem;
  border: 1px solid #E5E5E5;
  height: 51px;
  line-height: 1.5;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15); }
  .form-control:focus {
    border: 1px solid #FDA100;
    outline: 0;
    box-shadow: none; }
  .form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000 !important;
    opacity: 1;
    /* Firefox */ }
  .form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000 !important; }
  .form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000 !important; }
  .form-control.placeholder-9::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #616D70 !important;
    opacity: 1;
    /* Firefox */ }
  .form-control.placeholder-9:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #616D70 !important; }
  .form-control.placeholder-9::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #616D70 !important; }

.custom-checkbox .custom-control-label {
  color: #767676; }
  .custom-checkbox .custom-control-label:before {
    border-radius: 0 !important;
    border-color: #767676; }

@media (min-width: 992px) {
  .modal-card .modal-dialog {
    min-width: 882px; } }

.modal-card .modal-content {
  border-radius: 0px 20px !important; }

.modal-card__img {
  text-align: center; }
  .modal-card__img img {
    max-width: 100%; }

.modal-card-inner {
  padding: 2rem;
  background-color: #F9F9F9;
  border-radius: 0px 20px !important; }

.modal-card__body {
  padding-top: 2rem; }
  .modal-card__body-bottom {
    border-top: 1px solid #C4C4C4;
    padding-top: 1rem; }
    .modal-card__body-bottom span, .modal-card__body-bottom strong {
      display: inline-block;
      vertical-align: middle; }
    .modal-card__body-bottom span {
      margin-right: .5rem; }
    .modal-card__body-bottom strong {
      font-size: 1.25rem; }

.modal-card__item {
  padding: 1rem 0; }
  .modal-card__item img, .modal-card__item span {
    display: inline-block;
    vertical-align: middle;
    margin-right: .5rem; }

.modal-card-el {
  position: relative; }
  .modal-card-el .close {
    position: absolute;
    right: 2rem;
    top: .5rem; }
    .modal-card-el .close img {
      width: 13px; }

.modal-transparent .modal-content {
  background: transparent;
  border: none; }

.modal-transparent .close {
  opacity: 1 !important; }
  .modal-transparent .close:focus {
    outline: 0 !important; }

@media (min-width: 576px) {
  .modal-transparent .modal-dialog {
    max-width: 630px;
    width: 90%; } }

.modal-video .modal-dialog, .modal-zoom .modal-dialog {
  max-width: 800px;
  margin: 30px auto; }

.modal-video .modal-body, .modal-zoom .modal-body {
  position: relative;
  padding: 0px; }

.modal-video .close, .modal-zoom .close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1; }

.modal-zoom .modal-content {
  background: transparent;
  outline: none;
  border: none; }

.modal-mensaje .modal-body {
  padding: 4rem 5rem;
  max-height: 90vh;
  overflow: hidden; }

.modal-mensaje .modal-dialog {
  max-width: 90%;
  position: relative; }

.modal-mensaje .foo {
  height: 48vh;
  max-height: 48vh; }

.modal-mensaje .close {
  position: absolute;
  top: 10px;
  right: 16px;
  z-index: 999;
  outline: none; }

@media (min-width: 720px) {
  .modal-mensaje .modal-dialog {
    max-width: 700px; } }

.foo {
  position: relative; }

.fakeScroll__track {
  background-color: #E5E5E5; }

.fakeScroll__bar {
  background-color: #C4C4C4; }

.lista-check {
  list-style: none;
  padding-left: 0; }
  .lista-check li {
    padding-left: 40px;
    background-image: url("../img/check-amarillo.png");
    margin: 1rem 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    line-height: 30px; }

.alianza {
  display: inline-block;
  margin-bottom: 2rem;
  cursor: pointer;
  width: 7.5rem;
  height: 7.5rem;
  position: relative;
  border-radius: 20px !important; }
  .alianza img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .alianza:hover {
    border: 1px solid #FDA100; }
  .alianza.active {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    background-color: #45444B; }
  .alianza-desc {
    display: none; }
    .alianza-desc.active {
      display: block; }

.input-search {
  max-width: 727px;
  width: 100%;
  display: inline-block;
  position: relative; }
  .input-search input {
    width: 100%;
    margin-bottom: 0;
    height: 60px;
    border-radius: 4px !important; }
    .input-search input::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #C4C4C4 !important;
      opacity: 1;
      /* Firefox */ }
    .input-search input:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #C4C4C4 !important; }
    .input-search input::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #C4C4C4 !important; }
  .input-search img {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 99; }
  .input-search-menu {
    min-width: 600px; }
    .input-search-menu input {
      height: 51px; }
      .input-search-menu input::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #000 !important;
        opacity: 1;
        /* Firefox */ }
      .input-search-menu input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #000 !important; }
      .input-search-menu input::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #000 !important; }
    .input-search-menu img {
      width: 20px;
      right: 24px; }

.custom-radio input, .custom-radio span {
  display: inline-block;
  vertical-align: middle;
  margin-right: .5rem; }

.custom-radio span {
  margin-right: 3rem; }

.custom-radio input[type="radio"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: #fff;
  height: 16px;
  width: 16px;
  border: 1px solid #767676;
  position: relative; }

.custom-radio input[type="radio"]:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.custom-radio input[type="radio"]:checked:after {
  display: block; }

.custom-card {
  border: 1px solid #E5E5E5;
  display: inline-block;
  padding: 0 !important;
  border-radius: 0 20px !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  max-width: 100%;
  color: inherit; }
  .custom-card:hover {
    text-decoration: none;
    color: inherit; }
    .custom-card:hover .custom-card__subtitle {
      color: #FDA100; }
  .custom-card__img {
    transition: transform .5s; }
    .custom-card__img-wrapper {
      position: relative;
      overflow: hidden; }
      .custom-card__img-wrapper:hover img {
        transform: scale(1.1); }
  .custom-card__sticker {
    font-size: 1rem;
    color: #fff;
    background-color: #263B80;
    top: 12px;
    left: 12px;
    padding: 4px 12px;
    display: inline-block;
    position: absolute;
    border-radius: 4px !important; }
  .custom-card__subtitle {
    color: #000; }
  .custom-card__title {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: 700;
    text-align: left;
    background-color: rgba(76, 75, 81, 0.4);
    border-top-right-radius: 20px !important;
    margin: 0;
    padding: 20px;
    color: #fff; }
  .custom-card:hover .custom-card__title {
    background-color: rgba(255, 255, 255, 0.9);
    color: #272525; }
  .custom-card--2 {
    border: 0;
    box-shadow: none;
    cursor: pointer; }
    .custom-card--2 .custom-card__img-wrapper {
      border-bottom-left-radius: 20px !important; }
    .custom-card--2 .custom-card__subtitle {
      font-weight: 700;
      white-space: nowrap;
      text-overflow: ellipsis; }

.saber-mas__img {
  margin-top: -6rem; }

.show-mas, .show-menos {
  text-decoration: none !important; }
  .show-mas:hover, .show-menos:hover {
    text-decoration: underline !important; }

.pregunta-cat {
  width: 193px;
  max-width: 100%;
  padding: 2rem 1rem;
  border: 1px solid #E5E5E5;
  display: inline-block;
  color: #000; }
  .pregunta-cat:hover {
    text-decoration: none;
    color: #000;
    border: 1px solid #FDA100; }
  .pregunta-cat__txt {
    font-weight: 700;
    margin-top: 1rem;
    display: flex;
    min-height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .imgcat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.pregunta-item {
  margin-bottom: 2rem;
  border: 1px solid #E5E5E5;
  padding: 0 2.64rem;
  position: relative; }
  .pregunta-item__title {
    padding: .5rem 0; }
  .pregunta-item__title, .pregunta-item__mas, .pregunta-item__arrow {
    cursor: pointer; }
  .pregunta-item__inner {
    padding: 1rem 0;
    display: none; }
  .pregunta-item__mas {
    width: 18px;
    height: 18px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50% !important;
    border: 1px solid #000; }
    .pregunta-item__mas:before, .pregunta-item__mas:after {
      content: "";
      display: block;
      position: absolute;
      background-color: #000;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .pregunta-item__mas:before {
      width: 12px;
      height: 1px; }
    .pregunta-item__mas:after {
      height: 12px;
      width: 1px; }
  .pregunta-item.active {
    border: 1px solid #FDA100; }
    .pregunta-item.active .pregunta-item__inner {
      display: inline-block; }
    .pregunta-item.active .pregunta-item__mas:after {
      display: none; }

.pasos-timeline {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: center;
  margin-bottom: 0; }
  .pasos-timeline-wrapper {
    counter-reset: section;
    padding: 3rem 0; }
  .pasos-timeline li {
    width: 40px;
    height: 40px;
    background-color: #C4C4C4;
    color: #C4C4C4;
    border-radius: 50% !important;
    margin: 0 48px;
    position: relative; }
    .pasos-timeline li img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .pasos-timeline li:before {
      counter-increment: section;
      content: "Paso " counter(section);
      position: absolute;
      font-size: .7rem;
      top: calc(100% + 8px);
      width: 100%;
      text-align: center; }
    .pasos-timeline li:after {
      content: "";
      width: 96px;
      border-top: 6px solid #C4C4C4;
      right: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
    .pasos-timeline li:first-child:after {
      content: none; }
    .pasos-timeline li.active {
      background-color: #FDA100; }
      .pasos-timeline li.active::after {
        border-color: #FDA100; }

.opcion-pago, .paso {
  display: none; }
  .opcion-pago.active, .paso.active {
    display: block; }

.separa-btn {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  border: 1px solid #E5E5E5;
  padding: 1rem;
  border-radius: 0px 0px 20px 0px !important;
  margin-bottom: 1rem; }
  .separa-btn.active, .separa-btn:hover {
    border: 1px solid #FDA100;
    cursor: pointer; }

.coockies {
  position: fixed;
  bottom: 0;
  z-index: 80;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem 0; }

.big-marker {
  background-color: #cb9741;
  position: absolute;
  width: 100%;
  max-width: 100px;
  padding: 6px 6px 16px;
  border-radius: 5px !important;
  color: #fff;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
  bottom: 0;
  transform: translateX(-50%);
  z-index: 90;
  display: none; }
  .big-marker__img img {
    max-width: 100%; }
  .big-marker__title {
    padding: 14px 0 8px; }
  .big-marker__desc {
    font-size: 7px; }
  .big-marker:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    /* Center the tip horizontally. */
    transform: translate(-50%, 0);
    /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
    width: 0;
    height: 0;
    /* The tip is 8px high, and 12px wide. */
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #cb9741; }

.small-marker {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-3px, 8px);
  bottom: 0;
  background-color: #fff;
  border-radius: 10px !important;
  cursor: pointer;
  z-index: 80;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.3); }
  .small-marker__img img {
    height: 32px;
    width: auto;
    transform: translateX(-8px); }
  .small-marker__title {
    padding: 0 16px 0 4px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.logo-marker {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%); }
  .logo-marker__marker img {
    width: 40px; }
  .logo-marker__logo {
    width: 20px;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%); }
    .logo-marker__logo img {
      width: 100%; }

/* The popup bubble styling. */
.popup-bubble {
  /* Position the bubble centred-above its parent. */
  position: relative;
  top: 0;
  left: 0;
  /* Style the bubble. */
  padding: 0;
  border-radius: 5px !important;
  font-family: sans-serif; }

/* The parent of the bubble. A zero-height div at the top of the tip. */
.popup-bubble-anchor {
  /* Position the div a fixed distance above the tip. */
  position: absolute;
  width: 100%;
  bottom: 8px;
  left: 0; }

/* This element draws the tip. */
/* JavaScript will position this div at the bottom of the popup tip. */
.popup-container {
  cursor: auto;
  height: 0;
  position: absolute;
  /* The max width of the info window. */
  width: 300px; }

/*Colores corporativos*/
.container--timeline {
  padding-left: 0;
  padding-right: 0; }

.timeline-theme-1 {
  width: 100%; }
  .timeline-theme-1 .timeline-list, .timeline-theme-1 .timeline-item {
    width: 1140px;
    border: none; }
  .timeline-theme-1 .timeline-item {
    padding: 10px 25px; }
  .timeline-theme-1 .timeline-dots-wrap {
    overflow: initial; }
  .timeline-theme-1 .timeline-dots li {
    float: none;
    width: 190px;
    text-align: right;
    font-family: "Poppins" !important;
    overflow: initial;
    display: inline-block; }
    .timeline-theme-1 .timeline-dots li button {
      position: relative;
      font-weight: 700;
      font-size: 1.75rem; }
      .timeline-theme-1 .timeline-dots li button:before {
        content: "";
        width: 16px;
        height: 16px;
        border: 1px solid #FDA100;
        display: inline-block;
        border-radius: 50% !important;
        position: absolute;
        left: 50%;
        bottom: 100%;
        transform: translate(-50%, -50%);
        background-color: #F9F9F9;
        z-index: 20; }
      .timeline-theme-1 .timeline-dots li button:after {
        content: "";
        border-top: 1px solid #FDA100;
        width: 190px;
        left: 50%;
        bottom: 100%;
        transform: translate(0, -16px);
        position: absolute;
        z-index: 10; }
    .timeline-theme-1 .timeline-dots li.slide-active button {
      color: #000; }
      .timeline-theme-1 .timeline-dots li.slide-active button:before {
        background-color: #FDA100; }
    .timeline-theme-1 .timeline-dots li:last-child button:after {
      width: 0; }

/*Colores corporativos*/
.banner {
  position: relative;
  width: 100%;
  min-height: 480px; }
  .banner__images {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10; }
  .banner__img {
    object-fit: cover;
    min-height: 480px;
    height: 100%;
    width: 100%; }
  .banner__butn {
    transform-origin: 100% 100%;
    margin: 0 10px; }
    .banner__butn-wrapper {
      position: fixed;
      height: 0;
      z-index: 90;
      top: 40%;
      right: 0;
      transform: translateY(-50%); }
    .banner__butn-content {
      position: relative;
      right: 0;
      transform: rotate(-90deg) translateX(50%);
      transform-origin: 100% 100%;
      z-index: 30;
      display: flex;
      flex-direction: row; }
    .banner__butn-opt {
      width: 40px;
      height: 40px;
      display: inline-block;
      border-radius: 50% !important;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 4px; }
    .banner__butn-ws {
      background-color: #272525;
      transform: rotate(90deg); }
      .banner__butn-ws:hover {
        background-color: #00CE15; }
    .banner__butn-chat {
      background-color: #272525;
      transform: rotate(90deg); }
      .banner__butn-chat:hover {
        background-color: #263B80; }
  .banner__content {
    position: relative;
    z-index: 20; }
    .banner__content .container {
      position: relative; }
  .banner__slick, .banner .slick-list, .banner .slick-track {
    height: 100%; }
  .banner__dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 60; }
  .banner .slick-dots {
    margin-bottom: 0;
    list-style: none;
    padding: 0; }
    .banner .slick-dots li {
      display: inline-block;
      vertical-align: middle;
      margin: 4px;
      cursor: pointer; }
      .banner .slick-dots li button {
        font-size: 0;
        border: none;
        width: 8px;
        height: 8px;
        padding: 0;
        border-radius: 50% !important;
        display: block;
        cursor: pointer;
        background-color: #C4C4C4;
        outline: none; }
      .banner .slick-dots li.slick-active button {
        background-color: #FDA100; }

.banner__card {
  color: #fff;
  background-color: rgba(34, 32, 45, 0.8);
  backdrop-filter: blur(20px);
  border-radius: 0px 0px 60px 0px !important;
  width: 100%;
  max-width: 550px;
  padding: 32px;
  position: relative;
  display: none;
  margin: auto; }
  @media (min-width: 992px) {
    .banner__card {
      margin: initial; } }
  .banner__card.active {
    display: block; }
  .banner__card-wrapper {
    padding-top: 5rem;
    padding-bottom: 5rem; }
  .banner__card-2 {
    position: absolute;
    top: 24px;
    right: 24px; }
  .banner__card-counter {
    font-size: 1.75rem;
    font-weight: 400; }
    .banner__card-counter small {
      font-size: 1.25rem; }
  .banner__card-supratitle {
    color: #FDA100;
    font-size: 1.75rem; }
  .banner__card-title {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.625rem;
    padding-top: 1.25rem;
    padding-bottom: 3rem; }
  .banner__card-br {
    width: 80%;
    border-bottom: 1px solid #616D70; }
  .banner__card-bottom {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
    .banner__card-bottom-metraje, .banner__card-bottom-habitaciones {
      width: 40%;
      display: inline-block;
      vertical-align: middle;
      position: relative; }
    .banner__card-bottom-habitaciones {
      width: 50%;
      padding-left: 5%; }
    .banner__card-bottom-metraje:after {
      content: "";
      height: 40px;
      display: inline-block;
      border-right: 1px solid #616D70;
      position: absolute;
      top: -10px;
      right: 0; }
    .banner__card-bottom-direccion {
      padding-top: 1rem; }
    .banner__card-bottom-metraje img, .banner__card-bottom-metraje span, .banner__card-bottom-habitaciones img, .banner__card-bottom-habitaciones span, .banner__card-bottom-direccion img, .banner__card-bottom-direccion span {
      display: inline-block;
      vertical-align: middle;
      line-height: 1rem; }
    .banner__card-bottom-metraje img, .banner__card-bottom-habitaciones img, .banner__card-bottom-direccion img {
      margin-right: .36rem; }

.banner__list {
  position: absolute;
  top: 5rem;
  left: calc(-4px - 73px); }
  .banner__list-opt {
    width: 73px;
    height: 73px;
    background-color: #22202D;
    backdrop-filter: blur(20px);
    border-radius: 0px 0px 20px 0px !important;
    margin-bottom: 16px;
    position: relative;
    transition: all 0.25s ease;
    cursor: pointer; }
    .banner__list-opt-dsc {
      font-size: 0.65rem;
      line-height: 0.75rem;
      display: inline-block;
      color: #FDA100;
      position: absolute;
      top: 5px;
      left: 5px; }
    .banner__list-opt-number {
      font-size: 1.75rem;
      line-height: 1.75rem;
      display: inline-block;
      color: #fff;
      position: absolute;
      bottom: 0;
      right: 20px; }
    .banner__list-opt.active {
      background-color: #fff; }
      .banner__list-opt.active .banner__list-opt-dsc, .banner__list-opt.active .banner__list-opt-number {
        color: #000; }
    .banner__list-opt:hover {
      transform: translateY(-5px); }
  .banner__list ul {
    list-style: none;
    padding-left: 0; }

.home-proyectos .container {
  position: relative;
  z-index: 20; }

.proyectos__slick-el {
  padding: 0 10px;
  text-align: left; }
  .proyectos__slick-el-img {
    width: 100%; }
    .proyectos__slick-el-img-wrapper {
      position: relative;
      border-radius: 0px 20px !important;
      overflow: hidden;
      border: 1px solid #fff; }
  .proyectos__slick-el-sticker {
    font-size: 1rem;
    color: #fff;
    background-color: #263B80;
    top: 12px;
    left: 12px;
    padding: 4px 12px;
    display: inline-block;
    position: absolute;
    border-radius: 4px !important; }
  .proyectos__slick-el-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 2.25rem;
    font-weight: 700;
    text-align: left;
    background-color: rgba(76, 75, 81, 0.4);
    border-radius: 0px 20px !important;
    margin: 0;
    padding: 20px;
    color: #fff; }
  .proyectos__slick-el-subtitle {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 2rem;
    padding-top: 6px;
    color: #000; }
  .proyectos__slick-el-body {
    color: #767676; }
  .proyectos__slick-el-address {
    padding: 12px 0;
    border-bottom: 1px solid #C4C4C4; }
  .proyectos__slick-el-item-wrapper {
    border-bottom: 1px solid #C4C4C4;
    padding: 12px 0; }
  .proyectos__slick-el-item img, .proyectos__slick-el-item span {
    display: inline-block;
    vertical-align: middle; }
  .proyectos__slick-el-price {
    padding: 12px 0 28px;
    color: #000; }
    .proyectos__slick-el-price-number {
      font-weight: 700; }
  .proyectos__slick-el:hover .proyectos__slick-el-title {
    background-color: rgba(255, 255, 255, 0.9);
    color: #272525; }
  .proyectos__slick-el:hover .proyectos__slick-el-img-wrapper-inner {
    border-radius: 0 0 0 24px !important;
    overflow: hidden; }
  .proyectos__slick-el:hover .proyectos__slick-el-img-wrapper img {
    transform: scale(1.1);
    transition: transform .5s; }

@media (max-width: 992px) {
  .proyectos__slick .slick-list {
    padding: 0 40% 0 0 !important; } }

@media (max-width: 992px) {
  .proyectos__slick-2 .slick-list {
    padding: 0 40% 0 0 !important; } }

.slick-prevArrow,
.slick-nextArrow {
  width: 48px;
  height: 48px;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.7);
  font-size: 1.8rem;
  line-height: 52px;
  color: #767676;
  position: absolute;
  z-index: 50;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .slick-prevArrow:hover,
  .slick-nextArrow:hover {
    background: #fff;
    color: #000; }

.slick-prevArrow {
  left: -14px; }

.slick-nextArrow {
  right: -14px; }

.home-proyectos-entregados {
  position: relative;
  overflow: hidden; }
  .home-proyectos-entregados .proyectos__slick-el-title {
    font-size: 1.75rem; }
  .home-proyectos-entregados .proyectos__slick-el-item:first-child {
    padding-bottom: 8px; }
  .home-proyectos-entregados__img {
    position: absolute;
    bottom: 0;
    z-index: 10; }
  .home-proyectos-entregados .container {
    position: relative;
    z-index: 20; }

.home-clientes {
  position: relative; }
  .home-clientes__img {
    position: absolute;
    bottom: 0;
    z-index: 10; }
  .home-clientes .container {
    position: relative;
    z-index: 20; }
  .home-clientes .proyectos__slick-el-play {
    position: absolute;
    cursor: pointer;
    z-index: 80;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .home-clientes .proyectos__slick-el-desc {
    color: #000; }
  .home-clientes .proyectos__slick-el-inner {
    border-radius: 0px 20px !important;
    margin-bottom: 12px;
    padding-bottom: 48px;
    border: 1px solid #E5E5E5;
    background-color: #fff; }
    .home-clientes .proyectos__slick-el-inner:hover {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12); }
  .home-clientes .proyectos__slick-el-comentario {
    position: absolute;
    bottom: 40px;
    padding: 0 16px; }
    @media (max-width: 992px) {
      .home-clientes .proyectos__slick-el-comentario {
        position: relative;
        padding-top: 16px;
        bottom: initial; } }
    .home-clientes .proyectos__slick-el-comentario-wrapper {
      height: 288px;
      width: 100%;
      position: relative; }
    .home-clientes .proyectos__slick-el-comentario-img {
      position: absolute;
      right: 32px;
      top: 24px; }
      @media (max-width: 992px) {
        .home-clientes .proyectos__slick-el-comentario-img {
          display: none; } }
  .home-clientes .proyectos__slick-el-img {
    height: 288px;
    width: 100%;
    object-fit: cover; }
    .home-clientes .proyectos__slick-el-img-wrapper {
      border-radius: 0 !important;
      border-top-right-radius: 20px !important; }
  .home-clientes .proyectos__slick-el-body {
    padding: 0 1rem; }
    .home-clientes .proyectos__slick-el-body-img {
      margin-right: 6px;
      float: left; }

.home-noticias {
  padding-bottom: 110px; }
  .home-noticias .proyectos__slick-el-subtitle {
    display: block;
    padding: 1rem 2rem;
    font-size: 1.25rem; }
    .home-noticias .proyectos__slick-el-subtitle:hover {
      color: #FDA100;
      text-decoration: none; }
  .home-noticias .proyectos__slick-el-inner {
    background-color: #fff;
    border-radius: 0px 20px !important;
    margin-bottom: 12px;
    padding-bottom: 8px; }
    .home-noticias .proyectos__slick-el-inner:hover {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12); }

@media (max-width: 992px) {
  .clientes__slick .slick-list, .noticias__slick .slick-list {
    padding: 0 40% 0 0 !important; } }

/*Colores corporativos*/
.banner-departamentos {
  min-height: 264px;
  min-height: 304px; }
  .banner-departamentos .banner__img {
    min-height: 264px; }
    @media (max-width: 992px) {
      .banner-departamentos .banner__img {
        min-height: 304px; } }
  .banner-departamentos .banner__title {
    display: inline-block;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(20px);
    font-size: 2.25rem;
    font-weight: bold;
    max-width: 90%;
    padding: 1.25rem 2.625rem;
    border-radius: 0px 0px 20px 0px !important; }
    .banner-departamentos .banner__title-wrapper {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      z-index: 99;
      text-align: center; }

.home-proyectos-departamentos .proyectos__no-slick {
  margin-top: -4rem; }

.home-proyectos-departamentos .proyectos__slick-el {
  margin-top: 4rem; }
  @media (max-width: 992px) {
    .home-proyectos-departamentos .proyectos__slick-el {
      margin-top: 2rem; } }

.home-proyectos-departamentos .proyectos__filters {
  top: -4rem;
  margin-bottom: -4rem;
  transform: translateY(-50%);
  position: relative;
  max-width: 920px;
  display: block;
  margin: auto;
  z-index: 99; }
  @media (max-width: 992px) {
    .home-proyectos-departamentos .proyectos__filters {
      top: -2rem;
      margin-bottom: -2rem; } }
  .home-proyectos-departamentos .proyectos__filters-el {
    display: flex;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    flex-wrap: wrap; }
    @media (max-width: 992px) {
      .home-proyectos-departamentos .proyectos__filters-el {
        border-radius: 0px 20px !important; } }
    .home-proyectos-departamentos .proyectos__filters-el-btn {
      flex-grow: 1;
      flex-basis: 0;
      text-align: center;
      position: relative;
      cursor: pointer;
      padding: .75rem .5rem; }
      @media (max-width: 992px) {
        .home-proyectos-departamentos .proyectos__filters-el-btn {
          flex: 0 0 50%;
          max-width: 50%; }
          .home-proyectos-departamentos .proyectos__filters-el-btn:last-child {
            flex: 0 0 100%;
            max-width: 100%; } }
      .home-proyectos-departamentos .proyectos__filters-el-btn:hover:after, .home-proyectos-departamentos .proyectos__filters-el-btn.active:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 4px solid #FDA100; }
    @media (max-width: 992px) {
      .home-proyectos-departamentos .proyectos__filters-el-select {
        margin-top: 2rem; } }

/*Colores corporativos*/
.banner-departamentos-interna .banner__img {
  max-height: 497px; }

.banner-departamentos-interna .banner__card {
  max-width: 401px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000; }
  .banner-departamentos-interna .banner__card-wrapper {
    padding-top: 4rem;
    padding-bottom: 6rem; }
  .banner-departamentos-interna .banner__card-supratitle {
    color: #767676;
    font-size: 1.25rem; }
  .banner-departamentos-interna .banner__card-title {
    padding-bottom: 1.25rem; }
  .banner-departamentos-interna .banner__card-br {
    width: 90%; }
  .banner-departamentos-interna .banner__card-bottom-metraje {
    width: 100%; }
    .banner-departamentos-interna .banner__card-bottom-metraje:after {
      content: none; }
    .banner-departamentos-interna .banner__card-bottom-metraje img, .banner-departamentos-interna .banner__card-bottom-metraje span {
      display: inline-block;
      vertical-align: middle; }

.departamento-interna-dsc {
  position: relative;
  margin-top: -4rem;
  transform: translateY(-50%);
  z-index: 99; }
  @media (max-width: 992px) {
    .departamento-interna-dsc {
      transform: translateY(0);
      margin-top: -8rem; } }
  .departamento-interna-dsc-el {
    display: flex;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    padding: 2rem 0;
    border-radius: 0px 20px !important; }
    @media (max-width: 992px) {
      .departamento-interna-dsc-el {
        flex-direction: column; } }
    .departamento-interna-dsc-el-op {
      flex-grow: 1;
      flex-basis: 0;
      text-align: center;
      position: relative; }
      @media (max-width: 992px) {
        .departamento-interna-dsc-el-op {
          text-align: left;
          padding: 1.5rem 1.5rem; } }
      .departamento-interna-dsc-el-op + .departamento-interna-dsc-el-op:before {
        content: "";
        position: absolute;
        left: 0;
        height: 100%;
        border-left: 3px solid #FDA100; }
        @media (max-width: 992px) {
          .departamento-interna-dsc-el-op + .departamento-interna-dsc-el-op:before {
            border-left: none;
            border-bottom: 4px solid #FDA100;
            width: 42px;
            top: 0;
            height: 0;
            left: 24px; } }
      .departamento-interna-dsc-el-op-inner {
        display: inline-block; }
      .departamento-interna-dsc-el-op img {
        display: inline-block;
        vertical-align: middle; }
        @media (max-width: 992px) {
          .departamento-interna-dsc-el-op img {
            width: 31px;
            margin-left: 6px; } }
      .departamento-interna-dsc-el-op-dsc {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        padding-left: .5rem; }
      .departamento-interna-dsc-el-op-title {
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.25rem; }
      .departamento-interna-dsc-el-op-supratitle {
        line-height: 1.5rem; }

.departamento-cacteristicas-el {
  position: relative;
  padding-left: 10px;
  min-height: 100px; }
  .departamento-cacteristicas-el:before {
    content: "";
    height: 48px;
    position: absolute;
    left: 0;
    border-left: 4px solid #FDA100;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: inline-block; }
  .departamento-cacteristicas-el img {
    display: inline-block;
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 10px; }
  .departamento-cacteristicas-el-title {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: calc(100% - 64px);
    position: absolute;
    left: 58px;
    top: 50%;
    transform: translateY(-50%); }

.departamentos-interna-galeria {
  padding-top: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom; }
  .departamentos-interna-galeria .departamento-cacteristicas-el {
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #E5E5E5;
    min-height: 76px;
    margin-bottom: 1rem; }
    .departamentos-interna-galeria .departamento-cacteristicas-el:before {
      border-left: 4px solid #E5E5E5;
      height: 100%; }
    .departamentos-interna-galeria .departamento-cacteristicas-el:hover {
      border-color: #767676; }
      .departamentos-interna-galeria .departamento-cacteristicas-el:hover:before {
        border-color: #767676; }
    .departamentos-interna-galeria .departamento-cacteristicas-el.active {
      border-color: #FDA100; }
      .departamentos-interna-galeria .departamento-cacteristicas-el.active:before {
        border-color: #FDA100; }

.departamentos-interna-planos__select {
  margin-bottom: 1rem; }

.departamentos-interna-slider__slick .proyectos__slick-el {
  background-color: #F9F9F9;
  margin: 0 10px;
  border-radius: 0px 20px !important;
  border: 1px solid #E5E5E5; }
  .departamentos-interna-slider__slick .proyectos__slick-el:hover {
    background-color: #fff;
    border: 1px solid #FDA100; }
  .departamentos-interna-slider__slick .proyectos__slick-el-subtitle {
    text-align: center;
    font-size: 1rem;
    padding: .5rem; }
  .departamentos-interna-slider__slick .proyectos__slick-el-item--link {
    color: #767676; }
    a.proyectos__slick-el-item.proyectos__slick-el-item--link {
    outline: none;
}
    .departamentos-interna-slider__slick .proyectos__slick-el-item--link img:first-child {
      display: inline-block; }
    .departamentos-interna-slider__slick .proyectos__slick-el-item--link img:nth-child(2) {
      display: none; }
    .departamentos-interna-slider__slick .proyectos__slick-el-item--link:hover {
      text-decoration: none;
      color: #FDA100; }
      .departamentos-interna-slider__slick .proyectos__slick-el-item--link:hover img:first-child {
        display: none; }
      .departamentos-interna-slider__slick .proyectos__slick-el-item--link:hover img:nth-child(2) {
        display: inline-block; }
  .departamentos-interna-slider__slick .proyectos__slick-el-item-wrapper {
    border-top: 1px solid #C4C4C4; }
  .departamentos-interna-slider__slick .proyectos__slick-el-price {
    font-size: 1.25rem;
    text-align: center;
    padding: 12px 0 12px; }
  .departamentos-interna-slider__slick .proyectos__slick-el-img-wrapper {
    border: none; }

.departamentos-interna-slider__slick .slick-dots {
  list-style: none;
  margin-top: 16px; }
  .departamentos-interna-slider__slick .slick-dots li {
    display: inline-block;
    margin: 0 4px; }
    .departamentos-interna-slider__slick .slick-dots li button {
      font-size: 0;
      width: 8px;
      height: 8px;
      padding: 0;
      display: inline-block;
      border: 0;
      border-radius: 50% !important;
      outline: none; }
    .departamentos-interna-slider__slick .slick-dots li.slick-active button {
      background-color: #FDA100; }

/*Colores corporativos*/
/*Colores corporativos*/
.banner-nosotros {
  height: 448px; }
  .banner-nosotros .banner__img {
    min-height: 448px; }
  .banner-nosotros .banner__title {
    display: inline-block;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(20px);
    font-size: 2.25rem;
    font-weight: bold;
    max-width: 100%;
    padding: 1.25rem 2.625rem;
    border-radius: 0px 0px 20px 0px !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12); }
    @media (max-width: 992px) {
      .banner-nosotros .banner__title {
        font-size: 2rem; } }
    .banner-nosotros .banner__title-wrapper {
      position: absolute;
      top: 100%;
      transform: translateY(-50%);
      width: 100%;
      z-index: 99;
      text-align: left; }

/*Colores corporativos*/
.contacto-formulario {
  position: relative; }
  .contacto-formulario__bg {
    position: absolute;
    width: 100%;
    height: 70%;
    background-size: cover;
    top: 0;
    z-index: 10; }
  .contacto-formulario .container {
    position: relative;
    z-index: 30; }
  .contacto-formulario__content {
    padding: 3.6rem 4.8rem 1.8rem;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12); }

/*Colores corporativos*/
.element-404 {
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 731px;
  margin: auto;
  text-align: center;
  padding: 3rem 0;
  border-bottom-right-radius: 20px !important; }
  .element-404__opts {
    margin-top: 2.5rem; }
    .element-404__opts a {
      color: #000;
      display: inline-block;
      margin: 0 2rem;
      position: relative;
      padding-right: 1rem; }
      .element-404__opts a:after {
        content: ">";
        color: #FDA100;
        font-size: 2rem;
        position: absolute;
        right: 0;
        top: 55%;
        transform: translateY(-50%); }

.departamentos-interna-slider__slick{  height: auto!important; }


img.autor_foto {
    max-width: 64px;
    border-radius: 50% !important;
}


img.custom-card__img.img-fluid.blog {
  max-height: 236px;
object-fit: cover;
width: 22rem
}

.inactivo{
  visibility: hidden !important;
  position: relative !important;
  display: none !important;
}
