.alianza{
    display: inline-block;
    margin-bottom: 2rem;
    cursor: pointer;
    width: 7.5rem;
    height: 7.5rem;
    position: relative;
    border-radius: 20px!important;
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &:hover{
        border: 1px solid $color-1;
    }
    &.active{
        box-shadow: 0px 2px 8px rgba($color-b, 0.15);
        background-color: $color-12;
    }
    &-desc{
        display: none;
        &.active{
            display: block;
        }
    }
}