.custom-breadcrumb{
    background-color: $color-11 ;
    .breadcrumb{
        background-color: $color-11 ;
        margin: 0!important;
        // padding: .75rem 0!important;
        .breadcrumb-item+.breadcrumb-item::before{
            content: ">";
            color: $color-3;
            font-size: 1.5rem;
            line-height: 1.7rem;
            height: 1rem;
        }
        &-item{
            a{
                color: $color-3;
                &:hover{
                    text-decoration: none;
                }
            }
            &.active{
                color: $color-b;
                &:before{
                    color: $color-b!important;
                }
            }
        }
    }
}