.custom-card{
    border: 1px solid $color-4;
    display: inline-block;
    padding: 0!important;
    border-radius: 0 20px !important;
    box-shadow: 0px 4px 8px rgba($color-b, 0.12);
    max-width: 100%;
    color: inherit;
    &:hover{
        text-decoration: none;
        color: inherit;
        .custom-card{
            &__subtitle{
                color: $color-1;
            }
        }
    }
    &__img{
        transition: transform .5s;
        &-wrapper{
            position: relative;
            overflow: hidden;
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }
    }
    &__sticker{
        font-size: 1rem;
        color: $color-w;
        background-color: $color-5;
        top: 12px;
        left: 12px;
        padding: 4px 12px;
        display: inline-block;
        position: absolute;
        border-radius: 4px !important;
    }
    &__subtitle{
        color: $color-b;
    }
    &__title{
        position: absolute;
        bottom: 0;
        width: 100%;
        font-weight: 700;
        text-align: left;
        background-color: rgba($color-7, 0.4);
        border-top-right-radius: 20px !important;
        margin: 0;
        padding: 20px;
        color: $color-w;
    }
    &:hover{
        .custom-card{
            &__title{
                background-color: rgba($color-w, 0.9);
                color: $color-6;
            }
        }
    }
    &--2{
        border: 0;
        box-shadow: none;
        cursor: pointer;
        .custom-card{
            &__img{
                &-wrapper{
                    border-bottom-left-radius: 20px !important;
                }
            }
            &__subtitle{
                font-weight: 700;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        } 
    }
}