.contacto{
    padding: 2rem 0;
    background-size: cover;
    background-position: center bottom;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        height: 6.625rem;
        background-color: $color-1;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }
    &__dsc{
        padding: 1rem 0 2rem;
        color: $color-3;
    }
    .select-box{
        margin-bottom: 1rem;
    }
    &__financiamiento{
        color: $color-3;
        border-top: 1px solid $color-4;
        margin-top: 2rem;
        padding: 2rem 0;
    }
    &-el{
        border-radius: 0px 20px!important;
        padding: 3rem 2.5rem;
        background-color: $color-w;
        position: relative;
        z-index: 20;
        .h3{
            line-height: 2.625rem;
        }
    }
    &__img-2{
        padding-top: 2rem;
        max-width: 471px;
        img{
            max-width: 100%;
            border-radius: 0px 20px!important;
        }
    }
    &__butn{
        text-align: center;
        &-el{
            display: inline-block;
            width: 193px;
            border: 1px solid $color-1;
            padding: 3rem .5rem .5rem;
            color: $color-b;
            font-weight: 700;
            box-shadow: 0px 2px 8px rgba($color-b, 0.15);
            &:hover{
                text-decoration: none;
                color: $color-b;
            }
            img{
                width: 52px;
            }
            span{
                display: block;
                margin-top: 2rem;
            }
        }
    }
    &__socials{
        padding-top: 1rem;
        a{
            display: inline-block;
            vertical-align: middle;
            margin: 0 .5rem;
        }
    }
}