.select-box {
    position: relative;
    margin: 0 auto;
    // font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    font-size: 18px;
    color: $color-b;
    width: 100%;
    &--2{
      display: inline-block;
      width: auto;
      min-width: 480px;
      max-width: 100%;
    }
    
    &__current {
      position: relative;
      box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
      cursor: pointer;
      outline: none;
      outline: 1px solid $color-4;
      &:hover{
          outline: 1px solid $color-1;
      }
      &.active {
        & + .select-box__list {
          opacity: 1;
  
          // We have to set "animation-name: none;" to make the list visible (read below how it works)
  
          animation-name: none;
          
          .select-box__option {
            cursor: pointer;
          }
        }
        
        // .select-box__icon {
        //   transform: translateY(-50%) rotate(180deg);
        // }
      }
    }
    
    &__icon {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
    //   width: 20px;
    //   opacity: 0.3;
      transition: 0.2s ease;
    }
    
    &__value {
      display: flex;
    }
    
    &__input {
      display: none;
      
      &:checked + .select-box__input-text {
        display: block;
      }
    }
    
    &__input-text {
      display: none;
      width: 100%;
      margin: 0;
      padding: .75rem 1rem;
      background-color: #fff;
    }
    
    &__list {
      position: absolute;
      width: 100%;
      padding: 0;
      list-style: none;
      opacity: 0;
      margin-top: 1rem;
      background-color: $color-w;
      z-index: 99;
      
      // We need to use animation with delay.
      // Otherwise the click event will not have time to run on label, because this element disapears immediately when .select-box__current element loses the focus.
      // This delay will not be noticed because we set "opacity" to "0".
      // We also use "animation-fill-mode: forwards" to make the list stay hidden.
      
      animation-name: HideList;
      animation-duration: 0.5s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      animation-timing-function: step-start;
      box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
      .fakeScroll__track{
        right: 0;
        z-index: 999;
      }
    }
    
    &__option {
      display: block;
      padding: .75rem 1rem;
      background-color: $color-w;
      margin-bottom: 0;
      &:hover,
      &:focus {
        color: $color-1;
        // background-color: #fbfbfb;
      }
    }
  }
  
  @keyframes HideList {
    from {
      transform: scaleY(1);
    }
    to {
      transform: scaleY(0);
    }
  }