.filter-resultado{
    &-el{
        border: 1px solid $color-1;
        display: inline-block;
        vertical-align: middle;
        width: 7.5rem;
        font-size: 1rem;
        padding: 0.45rem .75rem;
        margin-right: 1.25rem;
        &__img{
            float: right;
            line-height: 1.25rem;
            cursor: pointer;
        }
    }
    &-delete{
        display: inline-block;
        vertical-align: middle;
        a{
            color: $color-b;
            text-decoration: underline;
        }
    }
}