.footer{
    background-color: $color-2;
    padding: 3rem 0 2rem;
    color: $color-w;
    @media (max-width: 992px){
        padding: 2rem 0 2rem;
    }
    &__item{
        img, span{
            display: inline-block;
            vertical-align: middle;
        }
        img{
            margin-right: 6px;
        }
        @media (max-width: 992px){
            margin: 1rem 0;
        }
    }
    &__title{
        font-weight: 700;
        font-size: 1.26rem;
    }
    &__inner{
        border-top: 1px solid $color-1;
        border-bottom: 1px solid $color-3;
        padding: 40px 0;
    }
    &__header{
        padding-bottom: 2rem;
        .row{
            .col-lg-3{
                &:first-child{
                    @media (max-width: 992px){
                        padding-bottom: 2rem; 
                        border-bottom: 1px solid $color-1;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
    &__list{
        padding-top: 1.25rem;
        ul{
            list-style: none;
            color: $color-w;
            padding-left: 0;
            li, a{
                color: $color-w;
                font-weight: 200;
                &:hover{
                    color: $color-1;
                    text-decoration: none;
                }
            }
            li{
                padding-bottom: 1.25rem;
            }
        }
        &-socials{
            a{
                display: inline-block;
                vertical-align: middle;
                margin-right: 16px;
                &:hover{
                    img{
                        fill: red;
                    }
                }
            }
        }
    }
    &__bottom{
        padding-top: 2rem;
        font-size: .85rem;
        text-align: center;
        color: $color-3;
        a{
            color: $color-3;
        }
    }
}