.form-control{
    padding: .75rem 1rem;
    color: $color-b;
    font-size: 1.125rem;
    margin-bottom: 1rem;
    border: 1px solid $color-4;
    height: 51px;
    line-height: 1.5;
    box-shadow: 0px 2px 8px rgba($color-b, 0.15);
    &:focus{
        border: 1px solid $color-1;
        outline: 0;
        box-shadow: none;
    }
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $color-b!important;
        opacity: 1; /* Firefox */
      }
      
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $color-b!important;
      }
      
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: $color-b!important;
      }
    &.placeholder-9{
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: $color-9!important;
          opacity: 1; /* Firefox */
        }
        
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: $color-9!important;
        }
        
        &::-ms-input-placeholder { /* Microsoft Edge */
          color: $color-9!important;
        }
      }
}

.custom-checkbox{
    .custom-control-label{
        color: $color-3;
        &:before {
            border-radius: 0!important;
            border-color: $color-3;
        }
    }
}