.galeria-btn{
    display: flex;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba($color-b, 0.15);
    width: 100%;
    max-width: 680px;
    margin: auto;
    @media (max-width: 992px){
        flex-wrap: wrap;
    }
    &__el{
        flex-grow: 1;
        flex-basis: 0;
        text-align: center;
        position: relative;
        cursor: pointer;
        padding: .75rem .5rem;
        @media (max-width: 992px){
            flex: 50%;
            max-width: 50%;
        }
        &:hover, &.active{
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                border-bottom: 4px solid #FDA100;
            }
        }
    }
}