.input-search{
    max-width: 727px;
    width: 100%;
    display: inline-block;
    position: relative;
    input{
        width: 100%;
        margin-bottom: 0;
        height: 60px;
        border-radius: 4px!important;
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $color-10!important;
            opacity: 1; /* Firefox */
          }
          
          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $color-10!important;
          }
          
          &::-ms-input-placeholder { /* Microsoft Edge */
            color: $color-10!important;
          }
    }
    img{
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        z-index: 99;
    }
    &-menu{
      min-width: 600px;
      input{
        height: 51px;
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: $color-b!important;
          opacity: 1; /* Firefox */
        }
        
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: $color-b!important;
        }
        
        &::-ms-input-placeholder { /* Microsoft Edge */
          color: $color-b!important;
        }
      }
      img{
        width: 20px;
        right: 24px;
      }
    }
}

.custom-radio{
  input, span{
    display: inline-block;
    vertical-align: middle;
    margin-right: .5rem;
  }
  span{
    margin-right: 3rem;
  }
  input[type="radio"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: $color-w;
    height: 16px;
    width: 16px;
    border: 1px solid $color-3;
    position: relative;
  }

  
  input[type="radio"]:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: $color-b;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  input[type="radio"]:checked:after {
    display: block;
  }
  
}