.lista-check{
    list-style: none;
    padding-left: 0;
    li{
        padding-left: 40px;
        background-image: url("../img/check-amarillo.png");
        margin: 1rem 0;
        background-repeat: no-repeat;
        background-position: 0 0;
        line-height: 30px;
    }
}