@import '../variables';

.menu{
    box-shadow: 0px 4px 8px rgba($color-b, 0.12);
    height: 76px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 190;
    background-color: $color-w;
    &.nav-up {
        top: -76px;
    }
    &__logo{
        img{
            &:first-child{
                display: inline-block;
            }
            &:nth-child(2){
                display: none;
            }
        }
        &:hover{
            img{
                &:first-child{
                    display: none;
                }
                &:nth-child(2){
                    display: inline-block;
                }
            }
        }
        a, .menu__desc{
            display: inline-block;
            vertical-align: middle;
        }
    }
    &__inner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 76px;
    }
    &__desc{
        margin-left: 1.5rem;
        padding-left: 1.5rem;
        position: relative;
        &:before{
            content: "";
            position: absolute;
            height: 36px;
            width: 1px;
            background-color: $color-b;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__opcion{
        font-size: 1rem;
        line-height: 1.5rem;
        color: $color-b;
        width: 114px;
        margin-right: 8px;
        height: 76px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        position: relative;
        &:hover, &.active{
            color: $color-b;
            text-decoration: none;
            &:after{
                content: "";
                width: 100%;
                height: 4px;
                background-color: $color-1;
                position: absolute;
                bottom: 0;
            }
        }
    }
    &__opciones{
        display: none;
        height: 76px;
        align-items: center;
        margin-right: auto;
        margin-left: 12%;
        @media (min-width: 992px){
            display: flex;
        }
    }
    &-dark{
        background-color: $color-2;
        .menu{
            &__opcion{
                color: $color-w;
            }
        }
    }
}
