.modal-card{
    .modal-dialog{
        @media (min-width: 992px){
            min-width: 882px;
        }
    }
    .modal-content{
        border-radius: 0px 20px!important;
    }
    &__img{
        text-align: center;
        img{
            max-width: 100%;
        }
    }
    &-inner{
        padding: 2rem;
        background-color: $color-11;
        border-radius: 0px 20px!important;
    }
    &__body{
        padding-top: 2rem;
        &-bottom{
            border-top: 1px solid $color-10;
            padding-top: 1rem;
            span, strong{
                display: inline-block;
                vertical-align: middle;
            }
            span{
                margin-right: .5rem;
            }
            strong{
                font-size: 1.25rem;
            }
        }
    }
    &__item{
        padding: 1rem 0;
        img, span{
            display: inline-block;
            vertical-align: middle;
            margin-right: .5rem;
        }
    }
    &-el{
        position: relative;
        .close{
            position: absolute;
            right: 2rem;
            top: .5rem;
            img{
                width: 13px;
            }
        }
    }
}

.modal-transparent{
    .modal-content{
        background: transparent;
        border: none;
    }
    .close{
        opacity: 1!important;
        &:focus{
            outline: 0!important;
        }
    }
    @media (min-width: 576px){
        .modal-dialog{
            max-width: 630px;
            width: 90%;
        }
    }
}

.modal-video, .modal-zoom{
    .modal-dialog {
        max-width: 800px;
        margin: 30px auto;
    }
  
    .modal-body {
        position:relative;
        padding:0px;
    }
    .close {
        position:absolute;
        right:-30px;
        top:0;
        z-index:999;
        font-size:2rem;
        font-weight: normal;
        color:#fff;
        opacity:1;
    }
}

.modal-zoom{
    .modal-content{
        background: transparent;
        outline: none;
        border: none;
    }
}

.modal-mensaje{
    .modal-body{
        padding: 4rem 5rem;
        max-height: 90vh;
        overflow: hidden;
    }
    .modal-dialog {
        max-width: 90%;
        position: relative;
    }
    .foo{
        height: 48vh;
        max-height: 48vh;
    }
    .close{
        position: absolute;
        top: 10px;
        right: 16px;
        z-index: 999;
        outline: none;
    }
    @media (min-width: 720px){
        .modal-dialog {
            max-width: 700px;
        }
    }
}

.foo{
    position: relative;
}
.fakeScroll__track{
    background-color: $color-4;
}
.fakeScroll__bar{
    background-color: $color-10;
}