.pasos-timeline{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
    margin-bottom: 0;
    &-wrapper{
        counter-reset: section; 
        padding: 3rem 0;
    }
    li{
        width: 40px;
        height: 40px;
        background-color: $color-10;
        color: $color-10;
        border-radius: 50%!important;
        margin: 0 48px;
        position: relative;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:before{
            counter-increment: section;
            content: "Paso " counter(section);
            position: absolute;
            font-size: .7rem;
            top: calc(100% + 8px);
            width: 100%;
            text-align: center;
        }
        &:after{
            content: "";
            width: 96px;
            border-top: 6px solid $color-10;
            right:100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        &:first-child{
            &:after{
                content: none;
            }
        }
        &.active{
            background-color: $color-1;
            &::after{
                border-color: $color-1;
            }
        }
    }
}

.opcion-pago, .paso{
    display: none;
    &.active{
        display: block;
    }
}