.pregunta{
    &-cat{
        width: 193px;
        max-width: 100%;
        padding: 2rem 1rem;
        border: 1px solid $color-4;
        display: inline-block;
        color: $color-b;
        &:hover{
            text-decoration: none;
            color: $color-b;
            border: 1px solid $color-1;
        }
        &__txt{
            font-weight: 700;
            margin-top: 1rem;
        }
    }
    &-item{
        margin-bottom: 2rem;
        border: 1px solid $color-4;
        padding: 0 2.64rem;
        position: relative;
        &__title{
            padding: .5rem 0;
        }
        &__title, &__mas, &__arrow{
            cursor: pointer;
        }
        &__inner{
            padding: 1rem 0;
            display: none;
        }
        &__mas{
            width: 18px;
            height: 18px;
            display: inline-block;
            position: absolute;
            top: 10px;
            left: 10px;
            border-radius: 50%!important;
            border: 1px solid $color-b;
            &:before, &:after{
                content: "";
                display: block;
                position: absolute;
                background-color: $color-b;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &:before {
                width: 12px;
                height: 1px;   
            }
            &:after{
                height: 12px;
                width: 1px; 
            }
        }
        &.active{
            border: 1px solid $color-1;
            .pregunta{
                &-item{
                    &__inner{
                        display: inline-block;
                    }
                    &__mas{
                        &:after{
                            display: none;
                        } 
                    }
                }
            }
        }
    }
}