.separa-btn{
    box-shadow: 0px 4px 8px rgba($color-b, 0.12);
    border: 1px solid $color-4;
    padding: 1rem;
    border-radius: 0px 0px 20px 0px!important;
    margin-bottom: 1rem;
    &.active, &:hover{
        border: 1px solid $color-1;
        cursor: pointer;
    }
}