.slider-ss{
    &__slick{
        .slick-prevArrow{
            left: 20px;
        }
        .slick-nextArrow{
            right: 20px;
        }
        &-dots{
            text-align: center;
            .slick-dots{
                margin-bottom: 0;
                list-style: none;
                padding: 0;
                li{
                    display: inline-block;
                    vertical-align: middle;
                    margin: 4px;
                    cursor: pointer;
                    button{
                        font-size: 0;
                        border: none;
                        width: 8px;
                        height: 8px;
                        padding: 0;
                        border-radius: 50%!important;
                        display: block;
                        cursor: pointer;
                        background-color: $color-10;
                        outline: none;
                    }
                    &.slick-active{
                        button{
                            background-color: $color-1;
                        }
                    }
                }
            } 
        }
        &-2{
            .slick-prevArrow{
                left: -20px;
            }
            .slick-nextArrow{
                right: -20px;
            }
        }
    }
    &__el{
        width:100%;
        position: relative;
        border-radius: 0px 20px!important;
        &:before{
            content: "";
            width: 100%;
            padding-top: 100%;
            position: relative;
            display: block;
        }
        &--2{
            &:before{
                padding-top: 70%;
            } 
        }
        &-img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        &-play{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 20;
            cursor: pointer;
            img{
                width: 82px;
                transition: all 0.25s;
            }
            &:hover{
                img{
                    width: 94px;
                }
            }
        }
        &-zoom{
            cursor: pointer;
            position: absolute;
            top: 12px;
            right: 10px;
            z-index: 99;
        }
    }
    &__msg{
        width: 100%;
        max-width: 70%;
        background-color: rgba($color-w,.8);
        backdrop-filter: blur(20px);
        border-radius: 0px 20px 0px 0px!important;
        position: absolute;
        z-index: 20;
        bottom: 0;
        left: 0;
        padding: .65rem 1.2rem;
        &-title{
            font-weight: bold;
            font-size: 1.25rem;
        }
    }
    &__blog{
        margin: auto;
        .slider-ss{
            &__el{
                &:before{
                    padding-top: 50%;
                }
            }
        }
    }
}

.slider-categorias{
    border-bottom: 1px solid $color-4;
    &__el{
        height: 56px;
        position: relative;
        a{
            color: $color-b;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            &:hover{
                text-decoration: none;
            }
            span{
                display: inline-block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                // padding: 1rem 0;
            }
            &.active{
                &:after{
                    content: "";
                    width: 100%;
                    height: 3px;
                    background-color: $color-1;
                    display: inline-block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
    &__slick{
        .slick-arrow{
            box-shadow: none;
            background-color: transparent;
            &:hover{
                background-color: transparent;
            }
        }
        .slick-prevArrow {
            left: -30px;
        }
        .slick-nextArrow {
            right: -30px;
        }
    }
}